@import "../mixins-and-variables";

$padding-left: 22px;

#logo {
  user-select: none;
  
  padding: 12px 0 20px 34px;

  @include flex(flex-start);

  position: relative;

  z-index: 2;

  img:first-child {
    width: 24px;

    position: relative;

    top: 0px;

    margin-right: 8px;

    filter: drop-shadow(0 2px 1px hsl(225, 20%, 60% / 0.7));
  }

  img:last-child {
    width: 96px;

    position: relative;

    top: 1px;

    filter: drop-shadow(0 1px 1px hsl(225, 20%, 60% / 0.5));
  }

}

#left-section {
  grid-area: left-section;

  min-width: 280px;
  max-width: 320px;
  margin-left: 0;
  margin-right: 0;

  @include flex(space-between, stretch, $direction: column);

  filter: var(--soft-shadow-right);

  background: hsl(225, 20%, 98%);

  position: relative;
  z-index: 4;
}

#left-section-middle {
  height: 100%;
  width: 100%;

  display: none;

  @include flex(flex-start, stretch, $direction: column, $gap: 8px);

  overflow-y: auto;
  overflow-x: hidden;

  padding-bottom: 24px;
}

#left-section-action-buttons {
  flex-grow: 1;

  @include flex(flex-start, stretch, $direction: column);

  background: hsl(215, 7%, 97%);

  border-top: 1px solid var(--border-color-lightest);
  border-bottom: 1px solid var(--border-color-lightest);

  section {
    margin-bottom: 18px;

    > .left-panel-action-buttons-section {
      $b: hsla(0, 2%, 60%, 0.32);
      border-top: 1px solid $b;
      border-bottom: 1px solid $b;
    }
  }

  .ScrollbarsCustom-Content {
    margin-top: 14px;
  }
}


$usage-stats-width: 60px;
$usage-stats-height: 60px;

#usage-statistics {
  margin-top: 36px;

  .left-panel-action-buttons-section {
    @include flex(flex-start, center, $gap: 18px);

    padding: 10px 20px 10px 32px;

    background: hsl(215, 7%, 95%);

    box-shadow: inset 0 0 12px hsla(0, 0%, 0%, 0.04), inset 0 0 3px hsla(0, 0%, 0%, 0.09);
  }
}

.usage-statistics-contents {
  @include flex(center, flex-start, $gap: 2px, $direction: column);
}

.usage-statistics-title {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.135rem;
  color: hsl(0 0% 40%);

  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
}

.usage-statistics-numbers {
  font-weight: 500;
  color: hsl(0 0% 40%);
  font-size: 1.3rem;
  font-style: italic;
  letter-spacing: 0.015rem;

  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
}

.usage-statistics-remaining-credits {
  font-weight: 700;
}

.usage-statistics-total-credits {
   opacity: 0.6;
 }

#left-section-bottom {
  background: linear-gradient(to bottom, hsl(225 20% 99% / 1), hsl(225 12% 95% / 1));

  min-height: 40px;
  max-height: 40px;
  border-top: 1px solid var(--border-color-lightest);
  justify-content: space-between;
  align-items: center;
  display: flex;

  padding: 24px 14px;

  filter: var(--soft-shadow-top);
}

#conversation-search {
  width: 100%;
  grid-area: searchInput;

  box-shadow: inset 0 0 2px 0 hsla(0, 0%, 0%, 0.16);
}

.section-title {
  text-transform: uppercase;

  color: hsl(228 2% 45% / 1);

  font-size: 1.2rem;

  padding: 3px ($padding-left + 8px) 5px;

  letter-spacing: 0.125rem;
}

#chat-list-main {
  border-top: 1px solid var(--border-color-lightest);

  height: 100%;
  max-width: none;
  $hue: 225;
  background: linear-gradient(to bottom, hsl($hue 24% 94% / 1), hsl($hue 22% 92% / 1));
  flex: 1;

  min-height: 297px;

  @include flex(space-between, $direction: column);

  z-index: 3;

  filter: var(--soft-shadow-bottom);
  //overflow-x: hidden;

  .ScrollbarsCustom {
    flex-grow: 1;
  }
}

#chat-list-open-chats {
  width: 100%;
  height: 100%;

  box-shadow: inset 0 0 60px 0 hsla(0, 0%, 0%, 1);

  filter: drop-shadow(0 2px 3px hsla(225, 20%, 30%, 0.08));

  .ScrollbarsCustom-Content {
    overflow-y: scroll;
  }
}

$forward-animation-transition: 0.45s ease;
$forward-animation-transition-opacity: 0.25s ease;
$backward-animation-transition: 0.75s cubic-bezier(.17,.67,.08,1.07);


#chat-list-see-all {
  position: relative;

  @include flex(flex-start, $gap: 12px);

  background: linear-gradient(to bottom, white, hsl(220 10% 94% / 1) 90%);

  width: 100%;

  padding: 1.4rem 2rem;

  border-top: 1px solid var(--border-color-lighter-three);
  border-bottom: 1px solid var(--border-color-lighter-two);

  filter: var(--soft-shadow-top) var(--soft-shadow-bottom);

  font-style: italic;
  font-weight: 500;

  transition: padding $forward-animation-transition;

  img {
    width: 20px;
    opacity: 0.75;

    position: relative;
    top: -1px;
  }

  > div {
    position: relative;
    top: -1px;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;

    $color: hsl(226deg 26% 55%);
    $color-two: hsl(226deg 56% 74%);

    background: linear-gradient(181deg, $color, $color-two);

    box-shadow: inset 0 0 1px 0 hsla(225, 50%, 10%, 1);
  }

  &:hover {
    padding-left: 3.2rem;

    transition: padding $backward-animation-transition;
  }
}

.chat-list-item-container {
  position: relative;

  user-select: none;
  width: 100%;
  height: auto;
  border-radius: 0;
  @include flex(space-between, $gap: 10px);

  transition: padding $forward-animation-transition;

  z-index: 1;

  @include pointer;


  $color: hsl(224 90% 80% / 1);
  $color-two: hsl(224 41% 54% / 1);
  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: -36px;
    width: 40px;
    background: linear-gradient(135deg, $color, $color-two);

    height: 78%;

    border-radius: 40px;

    transform: translateY(-50%);

    transition: left $backward-animation-transition;

    visibility: hidden;
  }

  $hue: 225;

  $pd-l: 1.6rem;

  &:not(.selected) {
    color: #6a6a6a;
    background: hsl(215 7% 95% / 1);
    padding: 0.7rem 2.7rem 0.7rem ($pd-l + 0.4rem);

    font-style: italic;

    .chat-list-item-ai-model-logo {
      opacity: 0.4;
    }

    &:hover {
      padding-left: $pd-l + 0.8rem;

      transition: padding $backward-animation-transition;

      background: hsl(215 10% 92% / 1);

      &::after {
        left: -33px;
        opacity: 0.5;

        transition: left $backward-animation-transition;

        visibility: visible;

      }
    }

    .chat-list-item-title
    {
      font-weight: 400;

      transition: font-size $forward-animation-transition;
    }
  }

  &:hover .chat-list-item-menu {
    visibility: visible;
  }

  &.selected {
    color: #3a3a3a;

    padding: 0.8rem 2.7rem 0.8rem ($pd-l + 1.2rem);

    background: linear-gradient(to bottom, hsl(215 9% 99% / 1), hsl(215 6% 98% / 1));

    border: 1px solid hsl(215 40% 34% / 0.27);

    $s: 0 2px 4px hsla(225, 22%, 30%, 0.16);
    box-shadow: $s;

    &:first-of-type {
      border-top-width: 0;
    }

    &:last-of-type {
      border-bottom-width: 0;
    }

    z-index: 2;

    &::after {
      left: -33px;

      transition: left $backward-animation-transition;

      visibility: visible;

      background:  linear-gradient(135deg, $color, $color-two);
      box-shadow: $s;
    }

    .chat-list-item-title
    {
      font-weight: 600;
      font-size: 1.55rem;
      letter-spacing: 0.02rem;

      transition: font-size $backward-animation-transition;
    }
  }
}

.chat-list-item-menu {
  visibility: hidden;
  font-size: 2.15rem;
  font-weight: 400;
  letter-spacing: 0.035em;

  color: var(--border-color-hued-subdued);

  @include pointer;


  $b-radius: 2px;
  /* Styles for the dropdown menu */
  .dropdown-menu {
    font-size: 1.3rem;
    display: none;
    position: absolute;
    right: -45%;
    top: 50%;
    background: linear-gradient(to bottom, white, #f0f0f0);
    border: 1px solid var(--border-color-lighter-two);
    border-radius: $b-radius;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
    z-index: 1000;

    &:hover {
      @include flex($direction: column, $gap: 0.4rem);
    }


  }

  .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0.6rem 0 0.6rem;
  }

  .dropdown-menu li a {
    display: block;
    padding: 8px 24px 8px 16px;
    color: #333;
    text-decoration: none;
  }

  .dropdown-menu li  {
    min-width: 170px;

    &:hover {
      background: linear-gradient(37deg, hsl(225 10% 90% / 1), hsl(225 10% 95% / 1));

      a {
        text-shadow: 0 0 1px hsla(0, 0%, 0%, 0.45);
      }
    }


    &:first-of-type {
      a:hover {
        border-radius: $b-radius $b-radius 0 0;
      }
    }

    &:last-of-type {
      a:hover {
        border-radius: 0 0 $b-radius $b-radius;
      }
    }
  }

  /* Show the dropdown menu when hovering over the chat list item */
  &:hover .dropdown-menu {
    @include flex($direction: column, $gap: 0.4rem);
  }

}

.dropdown-menu:hover {
  @include flex($direction: column, $gap: 0.4rem);
}

.chat-list-item-title {
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  padding: 1px 0;
  font-size: 1.5rem;
  letter-spacing: 0.035rem;
  font-weight: 400;
  display: flex;
}


#chat-list {
  background-color: #fff;
  @include flex(center, stretch, $direction: column);

  filter: drop-shadow(0 2px 3px hsla(225, 20%, 40%, 0.04));
}



#chat-list-top {
  width: 100%;
  height: auto;
  padding: 24px 0 0;

  @include flex(left, stretch, $direction: column);

  z-index: 2;
}

#left-section-top {
  @include flex(flex-start, stretch, $direction: column);
}

#left-section-top-upper {
  background: linear-gradient(to bottom, white, hsl(220, 6%, 96%));

}

#start-new-chat-section {
  $p: 18px;

  padding: 0 $p;

  z-index: 3;
}

#start-new-chat-button {
  --fancy-button-gradient-0: hsl(232deg 29% 46%); // bottom
  --fancy-button-gradient-50: hsl(220deg 36% 53%);
  --fancy-button-gradient-65: hsl(227deg 54% 60%);
  --fancy-button-gradient-85: hsl(235deg 50% 62%); // top
  --fancy-button-inner-shadow-top: hsla(271, 100%, 91%, 0.30);
  --fancy-button-inner-shadow-top-lg: hsla(225, 20%, 10%, 0.46);
  --fancy-button-inner-shadow-bottom: hsla(193, 100%, 78%, 0.36);
  --fancy-button-shine-top: hsl(115 100% 99% / 1);
  --fancy-button-shine-bottom: hsla(115, 100%, 74%, 1);
  --fancy-button-shine-bottom-shadow: hsla(115, 100%, 74%, 0.1);

  @include flex;
  text-align: center;
  font-weight: 500;
  font-size: 1.55rem;
  text-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.2);
  width: 100%;

  border: 1px solid hsl(227.76, 42%, 54%);
  border-top-color: hsl(227.76, 62%, 64%);
  border-bottom-color: hsl(227.76, 42%, 44%);

  position: relative;
  cursor: pointer;

  border-radius: 10px;
  color: hsla(225, 20%, 92%, 1);
  background-color: hsl(227.76deg 38.54% 44.42%);

  --gradient-direction: 358deg;

  background-image:
          linear-gradient(
                          var(--gradient-direction),
                          var(--fancy-button-gradient-0) 4%, // bottom
                          var(--fancy-button-gradient-50) 56%,
                          var(--fancy-button-gradient-65) 76%,
                          var(--fancy-button-gradient-85) 95%, // top
          );


  box-shadow:
          0px 8px 12px hsl(210 74% 14% / 0.05),
          0px 9px 8px hsl(245 74% 14% / 0.05),
          0px 1px 3px var(--fancy-button-inner-shadow-top-lg),
          inset 0px 1px 1px var(--fancy-button-inner-shadow-top),
          inset 0px 0px 3px var(--fancy-button-inner-shadow-bottom);

  &:active {
    --gradient-direction: to bottom;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    border-radius: inherit;
    will-change: transform;
  }

  &:before {
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--fancy-button-shine-top);
    width: 92%;
    height: 4px;
    top: -4px;
    opacity: 0.4;
    filter: blur(6px);
    transition: opacity .25s;
  }

  &:after {
    --c: hsl(225deg 70% 44.86% / 0.16);
    background: var(--c);
    box-shadow: 0 0 16px var(--c);

    width: 94%;
    height: 4px;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
  }


  > span {
    @include flex($gap: 8px);

    padding: 3px 0;
    width: 100%;
    border-radius: inherit;

    position: relative;
    background-image: linear-gradient(to bottom, var(--fancy-button-shine-top), transparent 8px);
    background-position: 0 -6px;
    background-repeat: no-repeat;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      background-color: var(--fancy-button-shine-bottom-shadow);
      transition: opacity .25s, transform .25s;
      will-change: transform;
    }

    &:before {
      width: 100%;
      height: 8px;
      bottom: -14px;
      opacity: .15;
      filter: blur(6px);
    }

    &:after {
      width: 100%;
      height: 1px;
      bottom: 0;
      opacity: .9;
      filter: blur(1px);
      box-shadow: 0 0 4px var(--fancy-button-shine-bottom-shadow);
    }

    > div {
    }
  }

  &:hover {
    span {
      &:before {
        opacity: .8;
      }

      &:before {
        transform: translateX(-50%) scale(1.25);
      }

      &:after {
        opacity: 1;
      }
    }
  }


  svg {
    width: 16px;

    filter: drop-shadow(0 2px 1px hsla(225, 20%, 60%, 0.25)) invert(1);
  }
}

#filter-chat-list-row {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "searchInput searchButton"
                        "advanced empty";

  grid-column-gap: 8px;

  justify-content: center;
  align-items: center;

  padding: 0 $padding-left;

  color: hsl(0 0% 40% / 1);

  .search-icon {
    grid-area: searchButton;
  }
}

#filter-chat-list-basic-row {
  width: 100%;
  @include flex;
}

#filter-chat-list-advanced-options {
  width: 100%;
  @include flex(space-between);
  margin-top: 6px;
  padding: 0 8px 0 8px;

  font-size: 1.2rem;

  grid-area: advanced;

  letter-spacing: 0.055rem;

  .button {
    font-weight: 500;
  }

  #filter-chats-icon {
    height: 9px;

    opacity: 0.7;
  }

  #advanced-search-chats-icon {
    height: 8px;

    opacity: 0.5;
  }

   > div {
     @include flex($gap: 4px);
   }
}

/* Dropdown.css */
#filter-chat-list-by-project {
  position: relative;
  width: 100%;

  font-size: 1.4rem;

  padding: 12px $padding-left 24px;

  // shift left to not cast it over the scrollbar
  box-shadow: -9px 3px 3px hsl(225 36% 92% / 0.8);

  border-bottom: 1px solid hsla(0, 2%, 60%, 0.46);

  z-index: 4;

  .dropdown-menu {
    position: absolute;
    width: 100%;
    background: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
    border-radius: 4px;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin-top: 2px; /* small space between the title and the dropdown */

  }

  .dropdown-menu li {
    padding: 8px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .dropdown-menu li:last-child {
    border-bottom: none; /* Remove border for the last item */
  }

  .dropdown-menu li:hover {
    background-color: #f0f0f0;
  }
}

#filter-chat-list-by-project-title {
  @include flex(space-between);
  width: 100%;

  padding: 2px 14px;
  background: linear-gradient(to bottom, hsl(225 12% 97%), hsl(225 10% 94%));
  border: 1px solid var(--border-color-lighter-two);
  cursor: pointer;
  border-radius: 10px;

  font-style: italic;

  color: #555;

  box-shadow: 0 0 3px hsla(225, 20%, 60%, 0.2);

  .dropdown-text {
    flex-grow: 1;
    letter-spacing: 0.035rem;
  }

  .dropdown-arrow {
    font-size: 1.2rem;

    transform: scaleY(0.7);

    color: #666;
  }
}

.chat-list-item-middle-row {
  @include flex(space-between);
  overflow: hidden;
}

.chat-list-item-info-content {
  overflow: hidden;
}

.chat-list-item-top-row {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.chat-list-item-ai-model-name {
  font-size: 1.2rem;
}

.chat-list-item-information {
  width: 100%;
  overflow: hidden;
}

.chat-list-item-date {
  font-size: 1.2rem;
  font-style: italic;
}

.chat-list-item-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
}


#account-info {
  height: auto;
  display: flex;

  user-select: none;
}

#account-avatar-left {
  @include flex;

  margin-right: 8px;
  width: 8%;

  img {
    border-radius: 50%;
    width: 100%;
  }
}

#account-settings {
  @include flex;

  img {
    width: 15px;
    opacity: 0.8;
  }
}


#account-name {
  @include flex;
  font-weight: 700;
}


.start-new-chat-text {
  white-space: nowrap;
  @include flex;

  font-size: 1.035em;
}

.left-panel-action-button {
  @include flex(flex-start, $gap: 10px);

  padding: 0 2rem;

  //margin-bottom: 3px;

  font-weight: 500;
  color: #666;

  max-height: 46px;
  min-height: 46px;

  // return transition, moving back to original position
  transition: padding $backward-animation-transition;

  background: linear-gradient(to bottom, hsl(215 60% 100% / 1) 50%, hsl(215 14% 97% / 1));

  box-shadow: 0 0 12px hsla(215, 20%, 60%, 0.04), inset 0 0 5px 0 hsla(215, 20%, 60%, 0.09);


  $b: hsla(225, 2%, 60%, 0.26);

  &:not(:last-child) {
    border-bottom: 1px solid $b;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 5px;
    height: 100%;
    background: hsl(226 34% 66% / 1);

    opacity: 0;

    // forward transition
    transition: padding $backward-animation-transition, opacity $backward-animation-transition;
  }

  &:hover {
    padding-left: 3.2rem;

    transition: padding $forward-animation-transition;

    &:after {
      opacity: 1;
      transition: padding $forward-animation-transition, opacity $forward-animation-transition-opacity;
    }
  }
}

.button-icon {
  height: 18px;

  opacity: 0.8;
}

#upgrade-icon {
  opacity: 1;

  width: 20px;
}

#credits-icon {
  position: relative;

  top: -2px;

  width: 20px;
}

#upgrade-plan::before {
  background: hsl(42 100% 50% / 1);
}

#add-credits::before {
    background: hsl(42 96% 42% / 1);
  }