@import "../mixins-and-variables";

$padding-left: 22px;

#logo {
  height: 48px;

  padding-left: 44px;

  @include flex(flex-start);

  filter: var(--soft-shadow-bottom);

  background: linear-gradient(to bottom, white, #fafafa);

  position: relative;

  z-index: 2;

  margin-bottom: 14px;

  img {
    width: 96px;

    position: relative;

    top: 1px;
  }

}

#left-section {
  width: 16%;
  min-width: 280px;
  max-width: 320px;
  margin-left: 0;
  margin-right: 0;

  @include flex(space-between, stretch, $direction: column);

  //overflow: hidden;

  filter: var(--soft-shadow-right);

  background: hsl(225, 20%, 98%);
}

#left-section-middle {
  height: 100%;
  width: 100%;

  display: none;

  @include flex(flex-start, stretch, $direction: column, $gap: 8px);

  overflow-y: auto;
  overflow-x: hidden;

  padding-bottom: 24px;
}

#left-section-action-buttons {
  flex-grow: 1;

  @include flex(flex-start, stretch, $direction: column);

  background: hsl(215, 7%, 97%);

  border-top: 1px solid var(--border-color-lightest);
  border-bottom: 1px solid var(--border-color-lightest);

  section {
    margin-bottom: 18px;
  }

  .ScrollbarsCustom-Content {
    margin-top: 18px;
  }
}

#left-section-bottom {
  background: linear-gradient(to bottom, hsl(225 20% 99% / 1), hsl(225 12% 95% / 1));

  min-height: 40px;
  max-height: 40px;
  border-top: 1px solid var(--border-color-lighter-two);
  justify-content: space-between;
  align-items: center;
  display: flex;

  padding: 24px 14px;

  filter: var(--soft-shadow-top);
}

#conversation-search {
  width: 100%;
  grid-area: searchInput;

  box-shadow: inset 0 0 2px 0 hsla(0, 0%, 0%, 0.16);
}

.section-title {
  text-transform: uppercase;

  color: hsl(228 2% 42% / 1);

  font-size: 1.2rem;

  padding: 3px ($padding-left + 8px) 7px;

  letter-spacing: 0.125rem;
}

#chat-list-main {
  border-top: 1px solid var(--border-color-lightest);

  height: 100%;
  max-width: none;
  $hue: 225;
  background: linear-gradient(to bottom, hsl($hue 24% 94% / 1), hsl($hue 22% 92% / 1));
  flex: 1;

  min-height: 297px;

  @include flex(space-between, $direction: column);

  z-index: 3;

  .ScrollbarsCustom {
    flex-grow: 1;
  }
}

#chat-list-open-chats {
  width: 100%;
  height: 100%;

  box-shadow: inset 0 0 60px 0 hsla(0, 0%, 0%, 1);

  filter: drop-shadow(0 2px 3px hsla(225, 20%, 30%, 0.08));

  .ScrollbarsCustom-Content {
    overflow-y: scroll;
  }
}

$forward-animation-transition: 0.45s ease;
$forward-animation-transition-opacity: 0.25s ease;
$backward-animation-transition: 0.75s cubic-bezier(.17,.67,.08,1.07);


#chat-list-see-all {
  position: relative;

  @include flex(flex-start, $gap: 12px);

  background: linear-gradient(to bottom, white, hsl(220 10% 94% / 1) 90%);

  width: 100%;

  padding: 1.4rem 2rem;

  border-top: 1px solid var(--border-color-lighter-three);
  border-bottom: 1px solid var(--border-color-lighter-two);

  filter: var(--soft-shadow-top) var(--soft-shadow-bottom);

  font-style: italic;
  font-weight: 500;

  transition: padding $forward-animation-transition;

  img {
    width: 20px;
    opacity: 0.75;

    position: relative;
    top: -1px;
  }

  > div {
    position: relative;
    top: -1px;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;

    $color: hsl(226deg 26% 55%);
    $color-two: hsl(226deg 56% 74%);

    background: linear-gradient(181deg, $color, $color-two);

    box-shadow: inset 0 0 1px 0 hsla(225, 50%, 10%, 1);
  }

  &:hover {
    padding-left: 3.2rem;

    transition: padding $backward-animation-transition;
  }
}

.chat-list-item-container {
  position: relative;

  user-select: none;
  width: 100%;
  height: auto;
  border-radius: 0;
  @include flex(space-between, $gap: 10px);

  transition: padding $forward-animation-transition;

  z-index: 1;

  @include pointer;


  $color: hsl(224 90% 80% / 1);
  $color-two: hsl(224 41% 54% / 1);
  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: -36px;
    width: 40px;
    background: linear-gradient(135deg, $color, $color-two);

    height: 100%;

    transform: translateY(-50%);

    transition: left $backward-animation-transition;

    visibility: hidden;
  }

  $hue: 225;

  $pd-l: 1.6rem;

  &:not(.selected) {
    color: #6a6a6a;
    background: hsl(215 7% 95% / 1);
    padding: 0.7rem 2.7rem 0.7rem ($pd-l + 0.4rem);

    font-style: italic;

    .chat-list-item-ai-model-logo {
      opacity: 0.4;
    }

    &:hover {
      padding-left: $pd-l + 0.8rem;

      transition: padding $backward-animation-transition;

      background: hsl(215 10% 92% / 1);

      &::after {
        left: -33px;
        opacity: 0.5;

        transition: left $backward-animation-transition;

        visibility: visible;

      }
    }

    .chat-list-item-title
    {
      font-weight: 400;

      transition: font-size $forward-animation-transition;
    }
  }

  &:hover .chat-list-item-menu {
    visibility: visible;
  }

  &.selected {
    color: #3a3a3a;

    padding: 0.8rem 2.7rem 0.8rem ($pd-l + 1.2rem);

    background: linear-gradient(to bottom, hsl(215 8% 91% / 1), hsl(215 4% 90% / 1));

    border: 1px solid hsl(215 60% 30% / 0.1);

    &:first-of-type {
      border-top-width: 0;
    }

    &:last-of-type {
      border-bottom-width: 0;
    }

    z-index: 2;

    &::after {
      left: -33px;

      transition: left $backward-animation-transition;

      visibility: visible;

      background:  linear-gradient(135deg, $color, $color-two);
    }

    .chat-list-item-title
    {
      font-weight: 600;
      font-size: 1.55rem;
      letter-spacing: 0.02rem;

      transition: font-size $backward-animation-transition;
    }
  }
}

.chat-list-item-menu {
  visibility: hidden;
  font-size: 2.15rem;
  font-weight: 400;
  letter-spacing: 0.035em;

  color: var(--border-color-hued-subdued);

  @include pointer;


  $b-radius: 2px;
  /* Styles for the dropdown menu */
  .dropdown-menu {
    font-size: 1.3rem;
    display: none;
    position: absolute;
    right: -45%;
    top: 50%;
    background: linear-gradient(to bottom, white, #f0f0f0);
    border: 1px solid var(--border-color-lighter-two);
    border-radius: $b-radius;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
    z-index: 1000;

    &:hover {
      @include flex($direction: column, $gap: 0.4rem);
    }


  }

  .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0.6rem 0 0.6rem;
  }

  .dropdown-menu li a {
    display: block;
    padding: 8px 24px 8px 16px;
    color: #333;
    text-decoration: none;
  }

  .dropdown-menu li  {
    min-width: 170px;

    &:hover {
      background: linear-gradient(37deg, hsl(225 10% 90% / 1), hsl(225 10% 95% / 1));

      a {
        text-shadow: 0 0 1px hsla(0, 0%, 0%, 0.45);
      }
    }


    &:first-of-type {
      a:hover {
        border-radius: $b-radius $b-radius 0 0;
      }
    }

    &:last-of-type {
      a:hover {
        border-radius: 0 0 $b-radius $b-radius;
      }
    }
  }

  /* Show the dropdown menu when hovering over the chat list item */
  &:hover .dropdown-menu {
    @include flex($direction: column, $gap: 0.4rem);
  }

}

.dropdown-menu:hover {
  @include flex($direction: column, $gap: 0.4rem);
}

.chat-list-item-title {
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  padding: 1px 0;
  font-size: 1.5rem;
  letter-spacing: 0.035rem;
  font-weight: 400;
  display: flex;
}


#chat-list {
  background-color: #fff;
  @include flex(center, stretch, $direction: column);

  filter: drop-shadow(0 2px 3px hsla(225, 20%, 40%, 0.04));
}



#chat-list-top {
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, hsl(220 16% 98% / 1), hsl(220 6% 96% / 1));
  padding: 24px 0 24px;

  @include flex(left, stretch, $direction: column);

  filter: var(--soft-shadow-top) var(--soft-shadow-bottom);

  z-index: 2;
}

#left-section-top {
  @include flex(flex-start, stretch, $direction: column);

  background: linear-gradient(to bottom, white, #fafafa);
}

#start-new-chat-section {
  $p: 18px;

  padding: 0 $p;

  z-index: 3;
}

#start-new-chat-button {
  position: relative;

  @include flex($gap: 8px);

  background: linear-gradient(to bottom, hsl(228 68% 72% / 1), hsl(220 48% 48% / 1));
  padding: 6px 14px;
  width: 100%;
  border-radius: 10px;

  box-shadow: hsla(225, 100%, 20%, 0.15) 0 6px 10px, hsla(225, 100%, 20%, 0.1) 0 1px 2px;
  color: white;

  font-weight: 400;
  font-size: 1.55rem;
  letter-spacing: 0.025rem;

  > span {
    text-shadow: 0 0 1px hsla(0, 0%, 0%, 1);
  }

  svg {
    width: 16px;

    filter: drop-shadow(0 2px 1px hsla(225, 20%, 60%, 0.25)) invert(1);
  }
}

#filter-chat-list-row {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "searchInput searchButton"
                        "advanced empty";

  grid-column-gap: 8px;

  justify-content: center;
  align-items: center;

  padding: 0 $padding-left;

  .search-icon {
    grid-area: searchButton;
  }
}

#filter-chat-list-basic-row {
  width: 100%;
  @include flex;
}

#filter-chat-list-advanced-options {
  width: 100%;
  @include flex(space-between);
  margin-top: 6px;
  padding: 0 8px 0 8px;

  font-size: 1.2rem;

  grid-area: advanced;

  letter-spacing: 0.055rem;

  color: #444;

  .button {
    font-weight: 500;
  }

  #filter-chats-icon {
    height: 9px;

    opacity: 0.7;
  }

  #advanced-search-chats-icon {
    height: 8px;

    opacity: 0.5;
  }
}

/* Dropdown.css */
#filter-chat-list-by-project {
  position: relative;
  width: 100%;

  font-size: 1.4rem;

  padding: 12px $padding-left 22px;

  .dropdown-menu {
    position: absolute;
    width: 100%;
    background: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
    border-radius: 4px;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin-top: 2px; /* small space between the title and the dropdown */

  }

  .dropdown-menu li {
    padding: 8px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .dropdown-menu li:last-child {
    border-bottom: none; /* Remove border for the last item */
  }

  .dropdown-menu li:hover {
    background-color: #f0f0f0;
  }
}

#filter-chat-list-by-project-title {
  @include flex(space-between);
  width: 100%;

  padding: 3px 14px;
  background: linear-gradient(to bottom, hsl(225 12% 97%), hsl(225 10% 94%));
  border: 1px solid hsl(225 20% 75% / 1);
  cursor: pointer;
  border-radius: 10px;

  font-style: italic;

  color: #555;

  box-shadow: 0 0 3px hsla(225, 20%, 60%, 0.2);

  .dropdown-text {
    flex-grow: 1;
    letter-spacing: 0.035rem;
  }

  .dropdown-arrow {
    font-size: 1.2rem;

    transform: scaleY(0.7);

    color: #666;
  }
}

.chat-list-item-middle-row {
  @include flex(space-between);
  overflow: hidden;
}

.chat-list-item-info-content {
  overflow: hidden;
}

.chat-list-item-top-row {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.chat-list-item-ai-model-name {
  font-size: 1.2rem;
}

.chat-list-item-information {
  width: 100%;
  overflow: hidden;
}

.chat-list-item-date {
  font-size: 1.2rem;
  font-style: italic;
}

.chat-list-item-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
}


#account-info {
  height: auto;
  display: flex;
}

#account-avatar-left {
  @include flex;

  margin-right: 8px;
  width: 8%;

  img {
    border-radius: 50%;
    width: 100%;
  }
}

#account-settings {
  @include flex;

  img {
    width: 80%;
    opacity: 0.8;
  }
}


#account-name {
  @include flex;
  font-weight: 700;
}


.start-new-chat-text {
  white-space: nowrap;
  @include flex;

  font-size: 1.035em;
}

.left-panel-action-button {
  @include flex(flex-start, $gap: 14px);

  padding: 0 2rem;

  margin-bottom: 3px;

  font-weight: 500;
  color: #666;

  max-height: 42px;
  min-height: 42px;

  // return transition, moving back to original position
  transition: padding $backward-animation-transition;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 5px;
    height: 100%;
    background: hsl(226 34% 66% / 1);

    opacity: 0;

    // forward transition
    transition: padding $backward-animation-transition, opacity $backward-animation-transition;
  }

  &:hover {
    padding-left: 3.2rem;

    transition: padding $forward-animation-transition;

    &:after {
      opacity: 1;
      transition: padding $forward-animation-transition, opacity $forward-animation-transition-opacity;
    }
  }
}

.button-icon {
  height: 22px;

  opacity: 0.8;
}

#upgrade-icon {
  opacity: 1;

  width: 20px;
}

#credits-icon {
  position: relative;

  top: -2px;

  width: 20px;
}

#upgrade-plan::before {
  background: hsl(42 100% 50% / 1);
}

#add-credits::before {
    background: hsl(42 96% 42% / 1);
  }