@import "../mixins-and-variables";

#logo {
  height: 43px;
  border-bottom: 1px solid var(--border-color-lighter);

  @include flex;

  filter: var(--soft-shadow-bottom);

  background: linear-gradient(to bottom, white, #fafafa);

  position: relative;

  z-index: 2;

  img {
    width: 86px;

    position: relative;

    top: 1px;
  }

}

#left-section {
  width: 16%;
  min-width: 280px;
  max-width: 320px;
  margin-left: 0;
  margin-right: 0;

  @include flex(space-between, stretch, $direction: column);

  //overflow: hidden;

  filter: var(--soft-shadow-right);

  background: hsl(225, 20%, 93%);
}

#left-section-middle {
  height: 100%;
  width: 100%;

  padding-top: 58px;

  display: none;

  @include flex(flex-start, stretch, $direction: column, $gap: 8px);

  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
  }
}

#left-section-action-buttons {
  @include flex(flex-start, stretch, $direction: column);

  background: linear-gradient(to bottom, hsl(216 5% 95% / 1), hsl(216 2% 95% / 1));
}

#left-section-bottom {
  background: linear-gradient(to bottom, hsl(225 20% 99% / 1), hsl(225 12% 95% / 1));

  min-height: 40px;
  max-height: 40px;
  border-top: 1px solid var(--border-color-lighter-two);
  justify-content: space-between;
  align-items: center;
  display: flex;

  padding: 24px 14px;

  filter: var(--soft-shadow-top);
}

#conversation-search {
  width: 100%;
  grid-area: searchInput;

  box-shadow: inset 0 0 2px 0 hsla(0, 0%, 0%, 0.16);
}

#chat-list-main {
  height: 100%;
  max-width: none;
  $hue: 225;
  background: linear-gradient(to bottom, hsl($hue 24% 94% / 1), hsl($hue 22% 92% / 1));
  flex: 1;

  min-height: 297px;

  @include flex(space-between, $direction: column);

  border-bottom: 1px solid var(--border-color-lighter);
}

#chat-list-open-chats {
  z-index: 1;
  width: 100%;

  .chat-list-item-container.selected:first-of-type {
    filter: var(--soft-shadow-top) drop-shadow(0 2px 3px hsla(225, 20%, 30%, 0.08));
  }

  .chat-list-item-container.selected:last-of-type {
    //filter: var(--soft-shadow-bottom);
  }

  filter: drop-shadow(0 2px 3px hsla(225, 20%, 30%, 0.08));
}

$forward-animation-transition: 0.45s ease;
$forward-animation-transition-opacity: 0.25s ease;
$backward-animation-transition: 0.75s cubic-bezier(.17,.67,.08,1.07);


#chat-list-see-all {
  position: relative;

  @include flex(flex-start, $gap: 12px);

  background: linear-gradient(to bottom, white, hsl(220 10% 94% / 1) 90%);

  width: 100%;

  padding: 1.5rem 2rem;

  border-top: 1px solid var(--border-color-lighter);
  //border-bottom: 1px solid var(--border-color-lighter-three);

  filter: var(--soft-shadow-top) var(--soft-shadow-bottom);

  font-style: italic;
  font-weight: 500;

  transition: padding $forward-animation-transition;

  img {
    width: 20px;
    opacity: 0.75;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;

    $color: hsl(226deg 26% 55%);
    $color-two: hsl(226deg 56% 74%);

    background: linear-gradient(181deg, $color, $color-two);

    box-shadow: inset 0 0 1px 0 hsla(225, 50%, 10%, 1);
  }

  &:hover {
    padding-left: 3.2rem;

    transition: padding $backward-animation-transition;
  }
}

.chat-list-item-container {
  position: relative;

  user-select: none;
  width: 100%;
  height: auto;
  border-bottom: 1px solid var(--border-color-lighter);
  border-radius: 0;
  padding: 1rem 1.8rem;
  @include flex(space-between, $gap: 10px);

  z-index: 1;

  @include pointer;

  $hue: 225;

  &:not(.selected) {
    box-shadow: inset 0 0 4px 0 hsla(0, 0%, 0%, 0.03);
    color: #6a6a6a;
    background: linear-gradient(to bottom, hsl($hue 15% 94% / 1), hsl($hue 14% 91% / 1));
  }

  &:hover .chat-list-item-menu {
    visibility: visible;
  }

  &.selected {
    color: #3a3a3a;

    $color: hsl(226deg 42% 58%);
    $color-two: hsl(226deg 50% 74%);

    background: linear-gradient(to bottom, hsl(225 18% 100% / 1), hsl(225 15% 97.5% / 1) 82%);

    box-shadow: 0 0 3px hsla(225, 20%, 60%, 0.08), inset 0 0 21px 0 hsla(0, 0%, 0%, 0.06);
    z-index: 2;

    &:not(:last-of-type) {
      filter: drop-shadow(0 1px 6px hsla(225, 20%, 40%, 0.08));
    }


    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 4px;
      background: linear-gradient(25deg, $color, $color-two);

      height: 100%;

      box-shadow: inset 0 0 1px 0 hsla(0, 0%, 0%, 0.5);
    }
  }
}

.chat-list-item-menu {
  visibility: hidden;
  font-size: 2.15rem;
  font-weight: 400;
  letter-spacing: 0.035em;

  color: var(--border-color-hued-subdued);

  @include pointer;

  padding: 8px;
  margin-right: -8px;

  $b-radius: 2px;
  /* Styles for the dropdown menu */
  .dropdown-menu {
    font-size: 1.3rem;
    display: none;
    position: absolute;
    right: -45%;
    top: 50%;
    background: linear-gradient(to bottom, white, #f0f0f0);
    border: 1px solid var(--border-color-lighter-two);
    border-radius: $b-radius;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
    z-index: 1000;

    &:hover {
      @include flex($direction: column, $gap: 0.4rem);
    }


  }

  .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0.6rem 0 0.6rem;
  }

  .dropdown-menu li a {
    display: block;
    padding: 8px 24px 8px 16px;
    color: #333;
    text-decoration: none;
  }

  .dropdown-menu li  {
    min-width: 170px;

    &:hover {
      background: linear-gradient(37deg, hsl(225 10% 90% / 1), hsl(225 10% 95% / 1));

      a {
        text-shadow: 0 0 1px hsla(0, 0%, 0%, 0.45);
      }
    }


    &:first-of-type {
      a:hover {
        border-radius: $b-radius $b-radius 0 0;
      }
    }

    &:last-of-type {
      a:hover {
        border-radius: 0 0 $b-radius $b-radius;
      }
    }
  }

  /* Show the dropdown menu when hovering over the chat list item */
  &:hover .dropdown-menu {
    @include flex($direction: column, $gap: 0.4rem);
  }

}

.dropdown-menu:hover {
  @include flex($direction: column, $gap: 0.4rem);
}

.chat-list-item-title {
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  padding: 1px 0;
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
}


#chat-list {
  background-color: #fff;
  @include flex(center, stretch, $direction: column);

  filter: drop-shadow(0 2px 3px hsla(225, 20%, 40%, 0.04));
}



#chat-list-top {
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, hsl(220 16% 98% / 1), hsl(220 6% 96% / 1));
  padding: 14px 14px 12px;

  @include flex(left, stretch, $direction: column, $gap: 14px);

  border-bottom: 1px solid var(--border-color-lighter-two);

  filter: var(--soft-shadow-top);

  z-index: 2;
}

#left-section-top {
  @include flex(flex-start, stretch, $direction: column);

  background: linear-gradient(to bottom, white, #fafafa);

  filter: drop-shadow(0 2px 3px hsla(225, 20%, 40%, 0.04));
}

#start-new-chat-section {
  padding: 21px 9px;

  border-bottom: 1px solid var(--border-color-lighter-two);

  @include flex;

  background: hsl(216, 25%, 93%);

  height: 42px;
}

#start-new-chat-button {
  position: relative;

  @include flex($gap: 8px);

  background: linear-gradient(to bottom, white, #f0f0f0);
  padding: 4px 14px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--border-color-slightly-lighter);

  box-shadow: 0 0 4px hsla(225, 20%, 60%, 0.12), 0 2px 2px hsla(225, 20%, 60%, 0.20);

  overflow: hidden;

  color: #444;

  font-weight: 500;

  .add-new-circle {
    margin-right: 10px;
  }

  svg {
    width: 15px;

    opacity: 0.84;

    filter: drop-shadow(0 2px 1px hsla(225, 20%, 60%, 0.5));
  }

  --start-new-chat-button-details-color: hsl(225deg 45% 62%); //hsl(58 15% 31% / 1); //#DBC235; //hsl(122 14% 64% / 1);//hsl(225deg 44% 65%);

  @mixin start-new-chat-button-color-detail($leftOrRight) {
    content: '';
    position: absolute;
    width: 64px;
    height: 100px;

    border: 1px solid var(--border-color-lighter);

    border-radius: 50%;

    //filter: drop-shadow(if($leftOrRight == "left", 1px, -1px) 0 0px hsla(225, 20%, 40%, 0.08));

    $color: hsl(226deg 56% 65%);
    $color-two: hsl(226deg 60% 74%);

    // Dynamically set either left or right
    @if $leftOrRight == "left" {
      background: linear-gradient(to left, $color, $color-two);
      left: -60px;
    } @else if $leftOrRight == "right" {
      background: linear-gradient(to right, $color, $color-two);
      right: -60px;
    } @else {
      @warn "Invalid value for $leftOrRight. Use 'left' or 'right'.";
    }

    box-shadow: inset 0 0 1px 0 hsla(225, 50%, 10%, 0.5);
  }

  &::before {
    @include start-new-chat-button-color-detail(left);
  }
  &::after {
    @include start-new-chat-button-color-detail(right);
  }
}

#filter-chat-list-row {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "searchInput searchButton"
                        "advanced empty";

    grid-column-gap: 8px;

  justify-content: center;
  align-items: center;

  .search-icon {
    grid-area: searchButton;
  }
}

#filter-chat-list-basic-row {
  width: 100%;
  @include flex;
}

#filter-chat-list-advanced-options {
  width: 100%;
  @include flex(space-between);
  margin-top: 6px;
  padding: 0 8px 0 8px;

  font-size: 1.2rem;

  grid-area: advanced;

  letter-spacing: 0.02rem;

  color: #444;

  .button {
    font-weight: 500;
  }
}

/* Dropdown.css */
#filter-chat-list-by-project {
  position: relative;
  width: 100%;

  font-size: 1.4rem;

  margin-bottom: 2px;

  .dropdown-menu {
    position: absolute;
    width: 100%;
    background: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
    border-radius: 4px;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin-top: 2px; /* small space between the title and the dropdown */

  }

  .dropdown-menu li {
    padding: 8px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .dropdown-menu li:last-child {
    border-bottom: none; /* Remove border for the last item */
  }

  .dropdown-menu li:hover {
    background-color: #f0f0f0;
  }
}

#filter-chat-list-by-project-title {
  @include flex(space-between);
  width: 100%;

  padding: 4px 14px 4px 12px;
  background: linear-gradient(to bottom, hsl(225 12% 97%), hsl(225 10% 94%));
  border: 1px solid hsl(225 20% 75% / 1);
  cursor: pointer;
  border-radius: 4px;

  font-style: italic;

  color: #555;

  box-shadow: 0 0 3px hsla(225, 20%, 60%, 0.2);

  .dropdown-text {
    flex-grow: 1;
  }

  .dropdown-arrow {
    font-size: 1.2rem;

    transform: scaleY(0.7);

    color: #666;
  }
}

.chat-list-item-middle-row {
  @include flex(space-between);
  overflow: hidden;
}

.chat-list-item-info-content {
  overflow: hidden;
}

.chat-list-item-top-row {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.chat-list-item-ai-model-name {
  font-size: 1.2rem;
}

.chat-list-item-information {
  width: 100%;
  overflow: hidden;
}

.chat-list-item-date {
  font-size: 1.2rem;
  font-style: italic;
}

.chat-list-item-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
}


#account-info {
  height: auto;
  display: flex;
}

#account-avatar-left {
  @include flex;

  margin-right: 8px;
  width: 8%;

  img {
    border-radius: 50%;
    width: 100%;
  }
}

#account-settings {
  @include flex;

  img {
    width: 80%;
    opacity: 0.8;
  }
}


#account-name {
  @include flex;
  font-weight: 700;
}


.start-new-chat-text {
  white-space: nowrap;
  @include flex;

  font-size: 1.035em;
}

.left-panel-action-button {
  @include flex(flex-start, $gap: 14px);

  padding: 1.2rem 2rem;

  font-weight: 500;
  color: #464646;

  max-height: 48px;
  min-height: 48px;

  border-top: 1px solid var(--border-color-lighter);
  &:last-child { border-bottom: 1px solid var(--border-color-lighter) };

  background: linear-gradient(to bottom, hsl(225 12% 99% / 1), hsl(225 10% 97% / 1));

  box-shadow: 0 0 12px hsla(225, 20%, 60%, 0.03), inset 0 0 15px 0 hsla(225, 20%, 60%, 0.07);
  filter: var(--soft-shadow-bottom) var(--soft-shadow-top);

  // return transition, moving back to original position
  transition: padding $backward-animation-transition;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 5px;
    height: 100%;
    background: hsl(226 34% 66% / 1);

    opacity: 0;

    // forward transition
    transition: padding $backward-animation-transition, opacity $backward-animation-transition;
  }

  &:hover {
    padding-left: 3.2rem;

    transition: padding $forward-animation-transition;

    &:after {
      opacity: 1;
      transition: padding $forward-animation-transition, opacity $forward-animation-transition-opacity;
    }
  }
}

.left-section-button {
  @include flex($gap: 12px);

  padding: 6px 10px;

  width: 100%;

  border-radius: 16px;

  border: 1px solid var(--border-color);

  background: linear-gradient(to bottom, white, #f5f5f5);

  box-shadow: 0 0 12px hsla(225, 20%, 60%, 0.10);
}

.button-icon {
  height: 22px;

  opacity: 0.8;
}

#upgrade-icon {
  opacity: 1;

  width: 20px;
}

#credits-icon {
  position: relative;

  top: -2px;

  width: 20px;
}

#upgrade-plan::before, #add-credits::before {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 5px;
}

#upgrade-plan::before {
  background: hsl(42 100% 50% / 1);
}

#add-credits::before {
    background: hsl(42 96% 42% / 1);
  }