@import "../mixins-and-variables";

#left-section, #right-section {
  position: relative;
  z-index: 1;
}

#middle-section {
  width: auto;
  height: 100%;
  max-width: none;
  border-left: 1px solid var(--border-color-lighter);
  border-right: 1px solid var(--border-color-lighter);
  flex: 1;

  margin: 0;

  @include flex(flex-start, stretch, $direction: column);

  position: relative;
  z-index: 0;
}

#ai-response-settings-checkboxes {
  @include flex($gap: 2rem);
}


#chat-messages-tool-bar {
  border-bottom: 1px solid var(--border-color-lighter);
  padding: 6px 22px;

  background: linear-gradient(to bottom, white, #fafafa);

  filter: var(--soft-shadow-bottom);
}

#chat-message-tool-bar-top {
  @include flex(space-between);
}

#chat-message-tool-bar-bottom {
  @include flex(space-between);
}

#share-chat {
  @include flex($gap: 8px);

  img {
    width: 12px;

    opacity: 0.9;
  }
}

#export-import {
  @include flex($gap: 8px);

  img {
    width: 12px;

    opacity: 0.65;
  }
}

.chat-message-tag {
  display: flex;
}

#editor-settings {

  @include flex($gap: 8px);

  img {
    width: 16px;

    opacity: 0.75;
  }
}

#chat-message-search-section {
  @include flex($gap: 8px);
}

#add-new-tag-input-button, .add-new-tag-message-button
{
  justify-content: center;
  align-items: center;
  margin-right: 0;
  display: flex;
}

#chat-input-top-organization-settings {
  width: 100%;
  display: flex;
}

#chat-input-top-response-settings {
  width: 729.406px;
  gap: 20px;
  display: flex;

  padding-top: 6px;
  padding-bottom: 4px;
}

.chat-input-detail-level-slider {
  white-space: nowrap;
  align-items: center;
  padding: 4px 0 4px 6px;
  display: flex;
}

.chat-message-thread-user-outer-container-copy {
  flex-flow: row;
  align-items: stretch;
  margin-left: 24px;
  display: none;
}

.chat-message-thread-info {
  user-select: none;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  margin: 8px 0 4px;
  display: flex;
}

.replies-info {
  @include flex(left, $gap: 1.2rem);
}

.replies-counter {
  font-weight: 600;
}

.last-thread-interaction {
  font-style: italic;
}

.view-thread {
  font-weight: 600;
}

.follow-up-question {
  background-color: #fdfdfd;
  border: 2px solid var(--border-color-hued);
  white-space: nowrap;
  border-radius: 12px;
  padding: 6px 16px;

  box-shadow: 0 0 2px hsla(225, 20%, 60%, 0.2);
}

#topics-section {
  width: 60%;
  display: flex;
}

.prompt-settings-label {
  justify-content: center;
  align-items: center;
  display: flex;
}

$middle-bg: hsl(216, 3%, 97%);

#chat-messages-section {
  height: auto;
  border-style: none none solid;
  border-width: 0;
  border-color: var(--border-color);
  background: $middle-bg;
  flex: 1;
  padding: 14px 12px 0px;

  overflow-y: auto;
  overflow-x: hidden;

  @include flex(flex-start, stretch, $direction: column, $gap: 16px);

  &::-webkit-scrollbar-track
  {
    border: 1px solid hsl(226deg 55.31% 84.52%);
    box-shadow: inset 0 0 3px hsl(226deg 25.31% 84.52% / 0.3);
    background-color: hsl(225 6% 99% / 1);
    border-radius: 10px;
  }

  &::-webkit-scrollbar
  {
    width: 12px;
    filter: drop-shadow(5px 0px 0px red);
  }

  &::-webkit-scrollbar-thumb
  {
    box-shadow: inset 0 0 3px hsl(226deg 25.31% 84.52% / 0.6), 0 2px 3px hsl(226deg 25.31% 84.52%);
    border-radius: 10px;
    background: hsl(225 30% 100% / 1);
    border: 1px solid hsl(226deg 35.31% 76%);
  }
}


#follow-up-questions-section {
  padding: 1rem 1.4rem 1rem;

  @include flex(left, $gap: 1.4rem, $wrap: wrap);

  background: $middle-bg;
}


#chat-menu {
  gap: 28px;
  display: flex;
}

#chat-filter-search {
  gap: 12px;
  display: flex;
}

#chat-message-filters {
  position: relative;

  background-color: #fafafa;

  height: 2.4em;
  border-radius: 10px;
  margin-bottom: 0;
  line-height: 0;
  overflow: visible;

  border: 1px solid var(--border-color-hued-subdued);

  @include flex(left);

  padding: 12px;
}

#filter-chat-tag-section {
  padding: 0;
  border: 0;

  height: auto;
}

#filter-chat-search-section {
  height: 2.4em;
  border-radius: 10px;
  margin-bottom: 0;
  line-height: 0;
  overflow: visible;
}

.chat-tag-filter {
  white-space: nowrap;
  background-color: #fff;
  border: 2px solid #8ca4e0;
  border-radius: 8px;

  @include flex;

  padding: 10px 6px;
  font-size: 12px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.message-avatar {
  filter: drop-shadow(0 1px 2px hsla(225, 90%, 40%, 0.15));
}

.account-avatar-message {
  width: 22px;
  height: auto;
}

.chat-message-info-sender
{
  @include flex;
}

#chat-response-detail {
  padding: 0 14px;
}

.chat-tag
{
  white-space: nowrap;
  background-color: #fdfdfd;
  border: 2px solid var(--border-color-hued);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  font-size: 1.2rem;
  display: flex;
  position: relative;

  box-shadow: 0 0 4px hsla(225, 20%, 60%, 0.2);

  &:hover .chat-tag-delete {
    visibility: visible;
  }
}

.chat-tag-delete
{
  width: 18px;
  height: 18px;

  @include flex;

  background-color: #fff;
  border-radius: 50%;
  visibility: hidden;
  position: absolute;
  top: calc(0% + 4px);
  bottom: auto;
  left: auto;
  right: calc(0% + 2px);

  font-size: 1rem;
  font-weight: 600;

  border: 1px solid var(--border-color-hued);
  transform: translate(50%, -50%);

  filter: var(--soft-shadow-bottom);
}

#add-new-topic-button {
  align-items: center;
  margin-right: 4px;
  display: flex;

  position: relative;
  top: 2px;
}

#subtopics-section {
  width: 100%;
  @include flex(left, $gap: 1.4rem);
  padding: 0 1.4rem;
}

.subtopic {
  border: 1px solid var(--border-color-hued);
  white-space: nowrap;
  border-radius: 8px;
  padding: 4px 12px;

  box-shadow: 0 0 4px hsla(225, 20%, 60%, 0.2);
}

#chat-input-section {
  @include flex(flex-start, stretch, $direction: column);
}

#chat-input-top {
  z-index: 1;
  height: auto;
  max-height: 120px;
  border-top: 1px solid var(--border-color-lighter);
  background-color: #fff;

  margin: 0;
  position: relative;

  @include flex(space-between, stretch, $direction: column);

  filter: var(--soft-shadow-top);

  > div:not(.button) {
    padding-left: 12px;
  }
}

#chat-input-top-collapse-button {
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
}

#input-field {
  background: hsl(225 20% 98% / 1);

  height: auto;
  min-height: 4.2rem;
  border: 1px solid var(--border-color-lighter);
  border-radius: 12px;
  flex: 1;
  width: 100%;

  padding: 12px;

  resize: vertical;

  filter: drop-shadow(0 0 6px hsl(225 20% 60% / 0.1));
}

.agent {
  .chat-message-info {
    justify-content: flex-start;
  }

  .chat-message-action-row {
    margin-top: 4px;
  }

  .chat-message-bottom {
    margin-top: 4px;
  }
}

.user  {
  .chat-message-info {
    justify-content: flex-end;
  }
}

.chat-message-bottom {
  grid-area: action-buttons;

  @include flex(space-between, $direction: column);

  margin-top: 8px;

  padding: 0 12px;
}

.chat-message-info {
  user-select: none;
  width: 100%;
  margin-bottom: 8px;
  padding: 0 18px;
  font-weight: 700;
  @include flex($gap: 0.5em);

  grid-area: message-sender;

  height: 2em;
}

.chat-list-item-ai-model-logo, .chat-list-item-ai-model-logo-message {
  @include flex;
}

.chat-list-item-ai-model-logo img {
  width: 1.8rem;
  height: auto;
}

:is(.chat-list-item-ai-model-logo-message, .account-avatar-message) img {
    width: 2rem;
    height: auto;
}

.chat-message-buttons-side {
  grid-area: buttons-side;
  padding-left: 12px;

  @include flex(center, flex-start, $gap: 8px, $direction: column);

  opacity: 0.82;
}

.chat-message-buttons-bottom {
  padding-top: 0;
  padding-right: 0;

  font-weight: 700;

  @include flex(flex-end, $gap: 18px);

  opacity: 0.82;
}

$chat-bottom-border-width: 2px;

#topics {
  margin-right: 13px;

  height: auto;

  align-items: flex-end;
  padding-left: 0;
  padding-right: 0;

  @include flex(flex-start, flex-end, $gap: 8px)
}

.topic-tab {
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color);
  white-space: nowrap;
  border-radius: 12px 12px 0 0;
  padding: 8px 18px 10px;
  position: relative;
  top: $chat-bottom-border-width;
}

.topic-tab.selected {
  border-width: $chat-bottom-border-width;
  border-color: var(--border-color-hued-subdued);
  border-bottom: none;
  font-weight: 700;

  background-color: white;

  padding-bottom: 12px;

  top: $chat-bottom-border-width;
}

#chat-input-middle {
  height: auto;
  background-color: #fff;
  flex-flow: column;
  flex: none;
  align-items: center;
  display: flex;
  overflow: hidden;

  gap: 12px;
  padding: 12px 0;

  border-top: $chat-bottom-border-width solid var(--border-color-hued-subdued);
}

#chat-input-bottom {
  width: 100%;
  height: auto;
  max-height: none;
  background-color: #fff;
  flex-flow: column;
  flex: none;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;

  gap: 10px;
}

#new-message-tag-list {
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: 0 solid #000;
  border-top-left-radius: 8px;
  padding: 0;
  display: flex;
}

.chat-message-tag-list {
  @include flex(flex-start, $gap: 12px);
}

#provider-buttons-container {
  width: 100%;
  height: auto;

  text-align: left;

  padding: 0 1.4rem;
  display: flex;
  overflow: visible;

  @include flex(space-between);
}

.provider-button.provider-button {
  border: 2px solid var(--border-color-hued);
  color: #2e2020;
  background-color: #fff;
  border-radius: 12px;
  padding: 6px 14px;

  @include flex($gap: 8px);

  box-shadow: 0 0 2px hsla(225, 20%, 60%, 0.2);
}

.provider-icon {
  width: 16px;
}


.chat-message {
  border-radius: 13px;
  padding: 14px 24px;

  $shadow: 0 0 8px hsl(225 100% 40% / 0.08);

  position: relative;
  z-index: 1;

  &.agent-message {
    background: linear-gradient(to bottom, white, #f8f8f8);
    //border: 2px solid var(--border-color-hued);
    //border: 1px solid hsl(225deg 16.3% 46.72% / 60%);
    box-shadow: 0 0 0 1px hsl(225deg 16.3% 46.72% / 60%), 0 0 0 2px hsl(225deg 16.3% 46.72% / 10%), $shadow;
  }

  &.user-message {
    background: linear-gradient(to bottom, hsl(227 90% 98% / 1), hsl(226deg 90% 98%));
    //border: 2px solid var(--border-color-hued);

    //border: 1px solid hsl(225deg 60.42% 52.26% / 80%);
    box-shadow: 0 0 0 1px hsl(225deg 60.42% 52.26% / 60%), 0 0 0 2px hsl(0 2% 60% / 0.24), $shadow;
  }
}

.chat-message-contents {
  white-space: pre-line;

  line-height: 2.5rem;
}


.chat-message-outer-container.user, .chat-message-outer-container.agent {
  @include flex(flex-start, stretch, $direction: column);

  &:hover  {
    .chat-message-action-row {
      visibility: visible;
    }
  }
}

.chat-message-action-row {
  width: 100%;
  margin: 0;

  @include flex(space-between);

  visibility: hidden;
}

@mixin messageButton($w, $o) {
  width: $w;
  height: auto;

  opacity: $o;
}

.message-save-to-favorites {
  @include messageButton(13px, 0.75);
}

.copy-message-button {
  @include messageButton(10.5px, 0.65);
}

.save-prompt-button {
  @include messageButton(12px, 0.65);
}

.message-scroll-to-bottom-button, .message-scroll-to-top-button {
  @include messageButton(8.5px, 0.75);
}

.message-scroll-to-bottom-button {
  transform: scaleY(-1);
}

.message-thumbs-down-button {
  @include messageButton(12px, 0.67);
}

.message-regenerate-button {
  @include messageButton(12px, 0.65);
}


#input-container {
  width: 100%;
  padding: 0 1.4rem;
}


.chat-message-inner-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
        "empty0 message-sender empty1"
        "checkbox message buttons-side"
        "empty3 action-buttons empty4";

  align-items: flex-start;
}

@mixin shadowColor($bg, $shadow) {
  background-color: $bg;
  box-shadow: $shadow;
}

.user .chat-message-wrapper::before {
  @include shadowColor(hsl(225deg 30% 60% / 3%), 0 0 26px hsl(225deg 30% 60% / 6%));
}

.agent .chat-message-wrapper::before {
  @include shadowColor(hsl(225deg 30% 60% / 5%), 0 0 26px hsl(225deg 30% 60% / 10%));
}

.chat-message-wrapper {
  position: relative;
  grid-area: message;
  width: 100%;

  &:before {
    content: "";
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: calc(0% - 11px);
    border-radius: 30px;
    z-index: 0;

  }
}

.chat-message-action-buttons-bottom {

}

.chat-message-select-checkbox {
  grid-area: checkbox;
  height: 100%;
  @include flex;
}


#prompt-settings {
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.4rem;
  display: flex;
}

#prompt-settings-checkboxes {
  width: 100%;

  @include flex(space-between);

  overflow: visible;

  padding: 0 4px;
}