@import "../mixins-and-variables";

#left-section, #right-section {
  position: relative;
  z-index: 1;
}

#middle-section {
  width: auto;
  height: 100%;
  max-width: 68%;
  border-left: 1px solid var(--border-color-lighter-two);
  border-right: 1px solid var(--border-color-lighter-two);
  flex: 1;

  margin: 0;

  @include flex(flex-start, stretch, $direction: column);

  position: relative;
  z-index: 0;
}

#ai-response-settings-checkboxes {
  width: 100%;
  @include flex(space-between);
}


#chat-messages-tool-bar {
  @include flex(space-between, $direction: column);

  width: 100%;
  border-bottom: 1px solid var(--border-color-lighter);

  background: linear-gradient(to bottom, white, #fcfcfc);

  filter: var(--soft-shadow-bottom);

  position: relative;
  z-index: 2;

  font-size: 1.4rem;
}

#chat-message-tool-bar-top {
  width: 100%;
  @include flex(space-between);

  min-height: 42px;

  padding: 6px 22px;
}

#chat-message-tool-bar-bottom {
  width: 100%;
  @include flex(space-between, $gap: 20px);

  min-height: 43px;
  max-height: 43px;

  > div {
    @include flex;
    height: 100%;
  }

  .right {
    width: 100%;

    ::-webkit-scrollbar
    {
      height: 10px;
      filter: drop-shadow(5px 0px 0px red);
    }

    ::-webkit-scrollbar-track
    {
      border: 1px solid hsl(226deg 55.31% 84.52%);
      box-shadow: inset 0 0 3px hsl(226deg 25.31% 84.52% / 0.3);
      background-color: hsl(225 6% 99% / 1);
      border-radius: 10px;
    }

    .ScrollbarsCustom {
      top: 13px !important;
    }
  }
}

#previous-page, #next-page {
  @include flex($gap: 6px);
}

.page-navigation-arrow {
  width: 9px;
  height: auto;

  opacity: 0.65;
}

#previous-page {
  .page-navigation-arrow {
    transform: rotate(180deg);
  }
}

#create-new-page {
  margin-left: 16px;
}

.chat-message-tag {
  display: flex;
}

.chat-menu-button {
  @include flex($gap: 8px);
}

@mixin chat-menu-button-image($width, $opacity) {
  img {
    width: $width;

    opacity: $opacity;
  }
}

#share-chat {
  @include chat-menu-button-image(12px, 0.9);
}

#export-import {
  @include chat-menu-button-image(12px, 0.65);
}

#editor-settings {
  @include chat-menu-button-image(16px, 0.75);
}

#chat-message-search-section {
  @include flex($gap: 8px);

  > div {
    @include flex;
  }
}

#add-new-tag-input-button, .add-new-tag-message-button
{
  justify-content: center;
  align-items: center;
  margin-right: 0;
  display: flex;
}

#chat-input-organization-settings {
  width: 100%;

  @include flex(center, stretch, $direction: column);
}

$chat-bottom-border-width: 2px;
$bg-chat-input-top-base-brightness: 96%;
#chat-input-organization-settings-top {
  @include flex(space-between);

  border-bottom: $chat-bottom-border-width solid var(--border-color-hued-subdued);

  background: linear-gradient(to bottom, hsl(225 20% $bg-chat-input-top-base-brightness + 2% / 1), hsl(225 16% calc($bg-chat-input-top-base-brightness - 1%) / 1));
}

#chat-input-reply-in-thread {
  position: relative;

  margin-left: 18px;

  padding: 4px 14px;

  border: 1px solid var(--border-color-hued);

  border-radius: 12px;

  background: linear-gradient(to bottom, hsl(225 30% 100% / 1), hsl(225 20% 95% / 1));

  box-shadow: 0 0 2px hsl(225 20% 10% / 0.16), 0 0 8px hsl(225 60% 10% / 0.05);
}

#chat-input-currently-active-thread-label {
  font-weight: 600;
  margin-right: 4px;
}

#chat-input-reply-in-thread-close-button {
  border-radius: 50%;

  width: 1.8rem;
  height: 1.8rem;

  font-weight: 600;
  font-size: 1.15em;

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(20%, -50%);

  border: 1px solid var(--border-color);

  @include flex;

  background: linear-gradient(to bottom, white, #fafafa);

  box-shadow: 0 0 2px hsl(225 20% 10% / 0.14);
}

#chat-input-top-response-settings {
  padding-right: 20px;
  width: 100%;
  gap: 20px;
  display: flex;

  padding-top: 6px;
  padding-bottom: 4px;
}

.chat-input-detail-level-slider {
  white-space: nowrap;
  align-items: center;
  padding: 4px 0 4px 6px;
  display: flex;
}

.chat-message-thread-user-outer-container-copy {
  flex-flow: row;
  align-items: stretch;
  margin-left: 24px;
  display: none;
}

$hue: 240;
$thread-background: linear-gradient(to bottom, hsl($hue, 12%, 91%), hsl($hue, 11%, 90%));

.chat-message-thread-info {
  user-select: none;
  width: 100%;

  @include flex(space-between, flex-end, $direction: column);

  padding: 2px 8px;

  margin-top: 3px;

  transition: padding 0.425s ease;
  border: 1px solid transparent;

  @mixin visibleBackground {
    background: linear-gradient(to bottom, hsl(0 0% 100% / 1), hsl(225 20% 97% / 1));
    border: 1px solid var(--border-color-lighter);
    border-radius: 18px;
    padding-left: 20px;
    padding-right: 20px;

    box-shadow: 0 0 8px hsl(225 60% 10% / 0.05);
  }

  &:hover, &.chat-message-already-replying-to-this-thread {
    @include visibleBackground;
  }

  &.chat-message-replying-to-another-thread:hover {
    background: linear-gradient(to bottom, hsl(225, 12%, 97%), hsl(225, 10%, 95%));
  }

  &.chat-message-viewing-thread {
    background: $thread-background;
    border: 1px solid hsl(225 42% 70% / 1);
    border-radius: 18px;
    padding: 16px 16px 20px;

    gap: 12px;

    margin-top: 6px;

    box-shadow: inset 0 0 18px hsl(225 20% 10% / 0.03);
  }
}

.chat-message-thread-contents {
  width: 100%;
  @include flex(flex-start, stretch, $direction: column);

  display: none;

  background: $thread-background;
  border-radius: 18px;

  > * {
    margin-bottom: 20px;
  }

  &.chat-message-viewing-thread {
    display: flex;
  }
}

.chat-message-thread-action-section {
  width: 100%;
  @include flex(space-between, $gap: 1.2rem);

  &.chat-message-viewing-thread {
    padding: 0 20px;
  }

  &.bottom-element {
    display: none;
  }
}

.chat-message-thread-replies-info {
  @include flex(flex-start, $gap: 1.2rem);
}

.replies-providers-in-thread {
  @include flex(flex-start, $gap: 1.2rem);
}

.replies-provider-in-thread-logo {
  width: 14px;
}

.replies-counter {
  font-weight: 600;
}

.last-thread-interaction {
  font-style: italic;
}

.chat-message-view-reply-thread {
  font-weight: 600;

  span {
    @include flex($gap: 6px);
  }
}

.chat-message-reply-in-thread {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.73);

  @include flex($gap: 6px);

  span {
    @include flex($gap: 6px);
  }
}

.chat-message-view-reply-thread {
  @include flex($gap: 12px);
}

.chat-message-view-thread-button {
  color: rgba(0, 0, 0, 0.73);
  @include flex(flex-start, $gap: 6px);
}

.chat-message-reply-in-thread-button {
  color: rgba(0, 0, 0, 0.73);
  @include flex(flex-start, $gap: 6px);
}

.view-thread-button-icon {
  width: 15px;

  opacity: 0.75;
}

.reply-in-thread-button-icon {
  width: 15px;

  opacity: 0.75;
}

.follow-up-question-outer-border {
  @include flex;

  background: linear-gradient(170deg, hsl(225 80% 60% / 0.7 ), hsl(225 40% 50% / 0.8));

  border-radius: 13px;
  padding: 1px;

  box-shadow:
          0 1px 2px hsla(225, 20%, 60%, 0.5),
          1px 2px 7px hsla(225, 20%, 60%, 0.14),
          0 1px 10px hsla(225, 60%, 60%, 0.1);
}

.follow-up-question {
  background: linear-gradient(to bottom, hsl(225 20% 98% / 1), hsl(225 14% 95% / 1));
  //border: 2px solid var(--border-color-hued);
  white-space: nowrap;
  border-radius: 12px;
  padding: 4px 16px;



  font-size: 1.4rem;
}

#chat-input-topics-section {
  width: 60%;
  display: flex;

  padding-left: 8px;
}

.prompt-settings-label {
  justify-content: center;
  align-items: center;
  display: flex;
}

$middle-bg: hsl(240 14% 95% / 1);

#chat-messages-section {
  position: relative;
  //height: auto;
  border-style: none none solid;
  border-width: 0;
  border-color: var(--border-color);
  background: $middle-bg;
  padding: 0px 12px 10px;

  //overflow: hidden;

  @include flex(flex-start, stretch, $direction: column, $gap: 16px);
  flex-grow: 1;
}

#middle-section .ScrollbarsCustom.trackYVisible {
  background: $middle-bg;
}

#follow-up-questions-section {
  padding: 0 1.4rem 1rem;

  @include flex(left, $gap: 1.4rem, $wrap: wrap);

  /*position: absolute;
  z-index: 10;
  top: -80px;*/

  background: $middle-bg;
}


#chat-menu, #chat-pages-menu {
  @include flex;

  white-space: nowrap;

  .button {
    font-weight: 500;
  }
}

#chat-input-tags-section
{
  width: 40%;
  height: 100%;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: var(--border-color-lighter);
  background-color: hsl(225 13% 93% / 1);
  border-top-left-radius: 8px;
  padding: 8px;

  @include flex(flex-start, $gap: 12px);

  box-shadow: inset 0 0 4px 1px hsl(0 0% 0% / 0.03);
}

#chat-menu {
  gap: 28px;
}

#chat-pages-menu {
  gap: 12px;
  padding: 6px 22px;
}

#chat-page-number {
  @include flex($gap: 7px);
}

#chat-page-and-thread-tabs-section {
  @include flex(flex-start, flex-end, $gap: 12px);

  width: 100%;
  height: 100%;

  overflow-y: hidden;
  overflow-x: auto;

  background: hsl(225 8% 93% / 1);

  padding: 2px 12px 0;

  border-left: 1px solid var(--border-color-lighter-two);
  border-top: 1px solid var(--border-color-lighter-two);

  box-shadow: inset 0 0 4px 1px hsl(0 0% 0% / 0.03);

  position: relative;

  border-radius: 10px 0 0 0;

  > * {
    position: relative;
    top: 2px;
  }
}

@mixin chat-tab-style($bg-color, $bg-color-unselected) {
  font-size: 1.45rem;

  padding: 6px 18px;
  border-radius: 8px 8px 0 0;
  border: 1px solid var(--border-color-hued);
  border-bottom: none;
  background: $bg-color;

  white-space: nowrap;

  filter: var(--soft-shadow-top);

  > span {
    font-weight: 500;
  }

  &:hover .chat-page-thread-tab-delete:not(.chat-main-page) {
    visibility: visible;
  }

  &:not(.selected) {
    border-color: hsl(226deg 55.31% 66.52% / 0.65);
    background: $bg-color-unselected;
    position: relative;
    top: 3px;
    padding: 6px 18px 8px;
  }
}

.chat-main-page {
  border-width: 2px !important;

  opacity: 1 !important;
}

.chat-page-tab {
  @include chat-tab-style(
                  linear-gradient(
                                  to bottom,
                                  hsl(0 0% 99% / 1),
                                  hsl(0 0% 95% / 1)
                  ),

                  linear-gradient(
                                  to bottom,
                                  hsl(0 0% 99% / 0.5),
                                  hsl(0 0% 95% / 0.5)
                  ));
}

.chat-thread-tab {
  @include chat-tab-style(
                  linear-gradient(
                                  to bottom,
                                  hsl(227 56% 96% / 1),
                                  hsl(227 56% 93% / 1)
                  ),

                  linear-gradient(
                                  to bottom,
                                  hsl(227 56% 96% / 0.5),
                                  hsl(227 56% 93% / 0.5)
                  ));
}

.chat-page-thread-tab-delete
{
  width: 18px;
  height: 18px;

  @include flex;

  background-color: #fff;
  border-radius: 50%;
  visibility: hidden;
  position: absolute;
  top: calc(0% + 4px);
  bottom: auto;
  left: auto;
  right: calc(0% + 2px);

  font-size: 1rem;
  font-weight: 700;

  border: 1px solid var(--border-color-hued);
  transform: translate(50%, -50%);

  filter: var(--soft-shadow-bottom);
}

#chat-filter-search {
  gap: 12px;
  display: flex;
}

$input-inset-shadow: inset 0 0 2px 0 hsl(0 0 0 / 0.16);

#chat-message-filters {
  position: relative;

  background-color: #fafafa;

  height: var(--input-field-height);

  border-radius: 10px;
  margin-bottom: 0;
  line-height: 0;
  overflow: visible;

  border: 1px solid var(--border-color-hued-subdued);

  @include flex(left);

  padding: 12px 5px;

  box-shadow: $input-inset-shadow;
}

#filter-chat-tag-section {
  height: auto;

  padding: 0;
  border: 0;
}

#filter-chat-search-section {
  border-radius: 10px;
  margin-bottom: 0;
  line-height: 0;
  overflow: visible;

  box-shadow: $input-inset-shadow;
}

.chat-tag-filter {
  white-space: nowrap;
  background-color: #fff;
  border: 2px solid #8ca4e0;
  border-radius: 8px;

  @include flex;

  padding: 9px 6px;
  font-size: 12px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.message-avatar {
  filter: drop-shadow(0 1px 2px hsla(225, 90%, 40%, 0.15));
}

.account-avatar-message {
  width: 22px;
  height: auto;
}

.chat-message-info-sender {
  @include flex(flex-start);
}

.chat-message-info-sender-name
{
  @include flex(flex-start);
  flex-grow: 1;
}

.chat-message-info-send-date {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.15s linear;

  font-weight: 500;
  font-style: italic;
}

.ai > .chat-message-inner-container > .chat-message-info {
  .chat-message-info-send-date {
    @include flex(flex-end);
  }

  .chat-message-info-sender {
    @include flex(flex-start, $gap: 8px);
    flex-grow: 1;
  }
}

.user > .chat-message-inner-container > .chat-message-info  {
  .chat-message-info-send-date {
    @include flex(flex-start);
    flex-grow: 1;
  }

  .chat-message-info-sender {
    @include flex(flex-end, $gap: 8px);
  }
}


#chat-response-detail {
  padding: 0 14px;
}

.chat-tag
{
  white-space: nowrap;
  background: linear-gradient(to bottom, hsl(225 20% 100% / 1), hsl(225 20% 95% / 1));
  border: 2px solid var(--border-color-hued);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  font-size: 1.2rem;
  display: flex;
  position: relative;

  box-shadow: 0 0 4px hsla(225, 20%, 60%, 0.2);

}

.tag {
  font-weight: 500;

  &:hover .chat-tag-delete {
    visibility: visible;
  }
}

.chat-tag-delete
{
  width: 18px;
  height: 18px;

  @include flex;

  background-color: #fff;
  border-radius: 50%;
  visibility: hidden;
  position: absolute;
  top: calc(0% + 4px);
  bottom: auto;
  left: auto;
  right: calc(0% + 2px);

  font-size: 1rem;
  font-weight: 700;

  border: 1px solid var(--border-color-hued);
  transform: translate(50%, -50%);

  filter: var(--soft-shadow-bottom);
}

#add-new-topic-button {
  align-items: center;
  margin-right: 4px;
  display: flex;

  position: relative;
  top: 2px;
}

$base-bg-brightness: 100%;

$lightest-bg-brightness-reduction: 1%;
$darkest-bg-brightness-reduction: 2%;

#subchat-input-topics-section {
  width: 100%;
  @include flex(left, $gap: 1.4rem);
  padding: 1.1rem 1.4rem 0.9rem;

  filter: var(--soft-shadow-top);
  background: linear-gradient(to bottom, hsl(225 30% $base-bg-brightness / 1), hsl(225 30% $base-bg-brightness - $lightest-bg-brightness-reduction / 1));
}

.subtopic {
  white-space: nowrap;
  border-radius: 8px;
  padding: 4px 12px;

  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;


  &.selected {
    border: 1px solid var(--border-color-hued);

    color: hsl(0 0% 20% / 1);
    background: linear-gradient(to bottom, hsl(225, 50%, 100%), hsl(225, 30%, 95%));

    box-shadow:  0 0 2px hsla(225, 20%, 60%, 0.015), 0 0 4px hsla(225, 20%, 60%, 0.06), inset 0 0 4px 0 hsla(225, 20%, 60%, 0.02);
  }

  &:not(.selected) {
    background: linear-gradient(to bottom, hsla(225, 26%, 97%, 1), hsla(225, 26%, 96%, 1));
    color: hsl(0 0% 50% / 1);
    border: 1px solid hsl(226deg 20% 70% / 0.6);
    box-shadow: 0 0 2px hsla(225, 20%, 60%, 0.1), inset 0 0 5px 0 hsla(225, 20%, 60%, 0.02);
  }
}

#chat-input-section {
  position: relative;

  @include flex(flex-start, stretch, $direction: column);
}

#chat-input-top {
  height: auto;
  max-height: 120px;
  border-top: 1px solid var(--border-color-slightly-lighter);

  margin: 0;
  position: relative;

  @include flex(space-between, stretch, $direction: column);

  filter: var(--soft-shadow-top);

  background:
          linear-gradient(
                          to bottom,
                          hsl(225 25% $bg-chat-input-top-base-brightness + 3% / 1 ),
                          hsl(225 20% $bg-chat-input-top-base-brightness + 2% / 1));

  > div:not(.button) {
    padding-left: 12px;
  }
}

#chat-input-top-collapse-button {
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
}

#chat-input-field {
  position: relative;

  background: hsl(225 40% 98% / 1);//hsl(220deg 30% 99%); //hsl(220 12% 92%);

  height: auto;
  min-height: 4.2rem;
  border: 1px solid hsl(225 40% 52.26% / 42%);
  border-radius: 12px;
  flex: 1;
  width: 100%;

  padding: 12px;

  resize: vertical;

  filter: drop-shadow(0 0 6px hsl(225 20% 60% / 0.04));

  z-index: 2;

  box-shadow: inset 0 0 36px 0 hsla(0, 0%, 0%, -(100% - $base-bg-brightness) + 1%), inset 0 0 12px 0 hsla(0, 0%, 0%, -(100% - $base-bg-brightness));

  &::placeholder {
    color: #444;
  }

}

.ai {
  .chat-message-info {
    justify-content: flex-start;
  }

  .chat-message-action-row {
    margin-top: 4px;
  }

  .chat-message-bottom {
    margin-top: 4px;
  }
}

.user  {
  .chat-message-info {
    justify-content: flex-end;
  }
}

.chat-message-bottom {
  grid-area: action-buttons;

  @include flex(space-between, $direction: column, $gap: 4px);

  margin-top: 8px;

  padding: 0 12px;
}

.chat-message-info {
  user-select: none;
  width: 100%;
  margin-bottom: 4px;
  padding: 0 32px;
  font-weight: 700;
  @include flex($gap: 0.5em);

  grid-area: message-sender;

  height: 2em;
}

.chat-list-item-ai-model-logo, .chat-list-item-ai-model-logo-message {
  @include flex;
}

.chat-list-item-ai-model-logo img {
  width: 1.8rem;
  height: auto;
}

:is(.chat-list-item-ai-model-logo-message, .account-avatar-message) img {
    width: 2rem;
    height: auto;
}

.chat-message-buttons-side-outer {
  grid-area: buttons-side;

  width: 14px;

  height: 100%;
}

$opacity-message-buttons: 0.7;

.chat-message-buttons-side {
  @include flex(center, flex-start, $gap: 14px, $direction: column);

  opacity: $opacity-message-buttons;

  width: 14px;

  position: absolute;

  visibility: hidden;

  &.visible {
    position: sticky;
    top: 50%;
  }

  .message-save-to-favorites-button {
    position: relative;
    left: -2px;
  }

  .message-scroll-to-bottom-button, .message-scroll-to-top-button {
    position: relative;
    left: 1px;
  }
}

.chat-message-buttons-bottom {
  padding-top: 0;
  padding-right: 0;

  font-weight: 700;

  @include flex(flex-end, $gap: 18px);

  opacity: $opacity-message-buttons;
}

#chat-input-topics {
  margin-right: 13px;

  height: auto;

  align-items: flex-end;
  padding-left: 0;
  padding-right: 0;

  @include flex(flex-start, flex-end, $gap: 8px)
}

.topic-tab {
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
  white-space: nowrap;
  border-radius: 12px 12px 0 0;
  padding: 8px 18px 8px;
  position: relative;


  &.selected {
    color: hsl(0 0% 24%);

    border-width: $chat-bottom-border-width;
    border-color: var(--border-color-hued-subdued);
    font-weight: 700;

    background: white;

    padding-bottom: 12px;

    top: $chat-bottom-border-width;

    z-index: 1;
  }

  &:not(.selected) {
    color: hsl(0 0% 50%);
    border-color: var(--border-color-lighter);
    background: linear-gradient(to bottom, hsl(225 5% 94% / 1), hsl(225 1% 93% / 1));
  }
}

#chat-input-middle {
  height: auto;

  @include flex($direction: column);
}

#chat-input-bottom {
  width: 100%;
  height: auto;
  max-height: none;
  flex-flow: column;
  flex: none;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;

  gap: 10px;

  padding-top: 13px;

  background: linear-gradient(to bottom, hsl(225 30% $base-bg-brightness - $darkest-bg-brightness-reduction / 1), hsl(225 30% $base-bg-brightness - $lightest-bg-brightness-reduction + 3% / 1));

}

#chat-input-middle-action-row {
  width: 100%;

  @include flex(space-between);

  padding-top: 9px;

  background: linear-gradient(to bottom, hsl(225 30% $base-bg-brightness - $darkest-bg-brightness-reduction / 1), hsl(225 30% $base-bg-brightness - $darkest-bg-brightness-reduction / 1));
}

#chat-input-token-counter {
  @include flex(flex-start, $gap: 20px);

  padding: 0 22px;
}

#chat-input-token-counter-total, #chat-input-token-counter-prompt, #chat-input-token-counter-context {
  @include flex($gap: 8px);
}

#chat-input-special-actions {
  @include flex(flex-end, $gap: 20px);

  padding: 0 2.2rem;
}

.input-special-action-button {
  height: 16px;

  opacity: 0.65;
}

#file-upload-icon {
  opacity: 0.9;
}

#new-message-tag-list {
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: 0 solid #000;
  border-top-left-radius: 8px;
  padding: 0;
  display: flex;
}

.chat-message-tag-list {
  @include flex(flex-start, $gap: 12px);
}

#provider-buttons-container {
  width: 100%;
  height: auto;

  text-align: left;

  padding: 0 1.8rem;
  display: flex;
  overflow: visible;

  @include flex(space-between);
}

.provider-button.provider-button {
  position: relative;

  font-weight: 500;

  @include flex;

  > div.button-contents {
    z-index: 1;
    @include flex($gap: 8px);

    box-shadow: 0 0 2px hsla(225, 20%, 60%, 0.2);
    border: 2px solid var(--border-color-hued-subdued);
    color: #2e2020;
    background: linear-gradient(175deg, hsl(226 80% 99% / 1) 60%, hsl(226 40% 97% / 1) 90%);
    border-radius: 12px;
    padding: 7px 12px;

    img {
      filter: drop-shadow(2px 2px 1px hsl(225 20% 60% / 0.06)) drop-shadow(2px 2px 2px hsl(225 20% 60% / 0.16));
    }
  }

  > div.below-button {
    $color: hsl(226 30% 58% / 1);
    $color-two: hsl(226 64% 68% / 1);

    background: linear-gradient(65deg, $color, $color-two);
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 0;
    border-radius: 12px;
    bottom: -3px;
    right: -2px;

    box-shadow: 2px 2px 1px hsl(225 20% 60% / 0.065), 1px 1px 3px hsl(225 20% 60% / 0.15);
  }
}

.provider-icon {
  width: 16px;
}


.chat-message {
  border-radius: 13px;
  padding: 18px 28px;



  position: relative;
  z-index: 1;

  $shadow: 0 0 8px hsl(225 60% 40% / 0.06);
  $inset: inset 0 0 4px 0 hsla(0, 0%, 0%, 0.04), inset 0 0 40px 0 hsla(0, 0%, 0%, 0.025);
  $border-modifier-messages: 1;

  &.ai-message {
    background: linear-gradient(to bottom, white, #f8f8f8);

    box-shadow:
            0 0 0 1px #{hsla(225deg, 16.3%, 56%, 0.66 * $border-modifier * $border-modifier-messages)},
            0 0 0 2px #{hsla(225deg, 16.3%, 50%, 0.09 * $border-modifier * $border-modifier-messages)},
            $shadow,
            $inset;
  }

  &.user-message {
    background: linear-gradient(to bottom, white, #f8f8f8);

    box-shadow:
            0 0 0 1px #{hsl(225, 54%, 68%, 0.4 * $border-modifier * $border-modifier-messages)},
            0 0 0 2px #{hsla(225, 30%, 60%, 0.05 * $border-modifier * $border-modifier-messages)},
            $shadow,
            $inset;
  }
}

.chat-message-contents {
  white-space: pre-line;

  line-height: 1.8rem;
}


.chat-message-outer-container {
  @include flex(flex-start, stretch, $direction: column);

  &:hover  {
    .visible { visibility: visible; }

    > .chat-message-inner-container > .chat-message-info .chat-message-info-send-date {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
    }
  }

  .invisible {
    visibility: hidden;
  }

  &:first-child {
    margin-top: 16px;
  }
}

.chat-message-action-row {
  width: 100%;
  margin: 0;

  @include flex(space-between);

  padding: 0 8px;
}

@mixin messageButton($w, $o) {
  width: $w;
  height: auto;

  opacity: $o;
}

.message-save-to-favorites-button {
  @include messageButton(13px, 0.75);
}

.share-reply-button {
  @include messageButton(11.5px, 0.93);
}

.copy-message-button {
  @include messageButton(10.5px, 0.65);
}

.add-to-saved-prompts-button {
  @include messageButton(12px, 0.65);
}

.message-scroll-to-bottom-button, .message-scroll-to-top-button {
  @include messageButton(8.5px, 0.75);
}

.message-scroll-to-bottom-button {
  transform: scaleY(-1);
}

.message-thumbs-down-button {
  @include messageButton(12px, 0.67);
}

.message-regenerate-button {
  @include messageButton(12px, 0.65);
}

@mixin shadowColor($bg, $shadow) {
  background-color: $bg;
  box-shadow: $shadow;
}

#chat-input-container {
  width: 100%;
  padding: 0 1.4rem;

  min-height: 68px;

  background: linear-gradient(to bottom, hsl(225 30% $base-bg-brightness - $lightest-bg-brightness-reduction / 1), hsl(225 30% $base-bg-brightness - $darkest-bg-brightness-reduction / 1));

  /*&::before {
    content: "";
    width: 98%;
    height: 30px;
    position: absolute;
    bottom: calc(0% - 2px);
    left: 50%;
    transform: translate(-50%, 0px);

    border-radius: 30px;
    z-index: 0;

    $opacity: 0.0;

    background-color: hsla(225deg, 30%, 60%, $opacity + 0.06);
    box-shadow: 0 0 12px hsla(225deg, 30%, 60%, $opacity + 0.12), 0 0 18px hsla(225deg, 30%, 60%, $opacity + 0.04);

  }*/
}


.chat-message-inner-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
        "empty0 message-sender empty1"
        "checkbox message buttons-side"
        "empty3 action-buttons empty4";

  align-items: flex-start;
}



.user .chat-message-wrapper::before {
  @include shadowColor(hsl(225deg 30% 60% / 4%), 0 0 18px hsl(225deg 30% 60% / 5%));
}

.ai .chat-message-wrapper::before {
  @include shadowColor(hsl(225deg 30% 60% / 6%), 0 0 18px hsl(225deg 30% 60% / 7%));
}

.chat-message-wrapper {
  position: relative;
  grid-area: message;
  width: 100%;


  padding: 0 12px;

  &:before {
    content: "";
    width: 98%;
    height: 30px;
    position: absolute;
    bottom: calc(0% - 5px);
    left: 50%;
    transform: translate(-50%, 0px);

    border-radius: 30px;
    z-index: 0;

  }
}

.chat-message-select-checkbox {
  grid-area: checkbox;
  height: 100%;
  @include flex;
  visibility: hidden;
  position: relative;
  right: -4px;
}


#prompt-settings {
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.4rem;
  display: flex;
}

#prompt-settings-checkboxes {
  width: 100%;

  @include flex(space-between);

  overflow: visible;

  padding: 0 4px 4px;
}