@import "../mixins-and-variables";

#left-section, #right-section {
  position: relative;
  z-index: 1;
  background: linear-gradient(to bottom, white, #fafafa);
}

#middle-section {
  width: auto;
  height: 100%;
  max-width: none;
  border-left: 1px solid var(--border-color-lighter-two);
  border-right: 1px solid var(--border-color-lighter-two);
  flex: 1;

  margin: 0;

  @include flex(flex-start, stretch, $direction: column);

  position: relative;
  z-index: 0;
}

#ai-response-settings-checkboxes {
  @include flex($gap: 2rem);
}


#chat-message-action-bar {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 1px solid var(--border-color-lighter-two);
  flex-flow: row;
  flex: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px;
  display: flex;
}

.chat-message-tag {
  display: flex;
}

#chat-message-search-section {
  @include flex;
}

#chat-input-top-row-2 {
  width: 100%;
  display: flex;
}

#chat-input-top-row-1 {
  width: 729.406px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  display: flex;
}

.chat-input-detail-level-slider {
  align-items: center;
  padding: 4px 0 4px 6px;
  display: flex;
}

.chat-message-thread-user-outer-container-copy {
  flex-flow: row;
  align-items: stretch;
  margin-left: 24px;
  display: none;
}

.chat-message-thread-info {
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  margin: 8px 0 4px;
  display: flex;
}

.replies-info {
  @include flex(left, $gap: 1.2rem);
}

.replies-counter {
  font-weight: 600;
}

.last-thread-interaction {
  font-style: italic;
}

.view-thread {

}

#follow-up-questions-section {
  padding: 10px;

  @include flex(left, $gap: 14px, $wrap: wrap);
}

.follow-up-question {
  background-color: #fdfdfd;
  border: 2px solid var(--border-color-hued);
  white-space: nowrap;
  border-radius: 12px;
  padding: 6px 16px;
}

#topics-section {
  width: 60%;
  display: flex;
}

.prompt-settings-label {
  justify-content: center;
  align-items: center;
  display: flex;
}

#chat-messages-section {
  height: auto;
  border-style: none none solid;
  border-width: 0;
  border-color: var(--border-color);
  background: linear-gradient(to bottom, #f7f9fc, #fafafa);
  flex: 1;
  padding: 10px 12px 40px;

  overflow: auto;

  @include flex(flex-start, stretch, $direction: column, $gap: 16px);

  &::-webkit-scrollbar-track
  {
    border: 1px solid hsl(226deg 55.31% 84.52%);
    box-shadow: inset 0 0 3px hsl(226deg 25.31% 84.52%);
    background-color: hsl(225 10% 94% / 1);
    border-radius: 10px;
  }

  &::-webkit-scrollbar
  {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb
  {
    box-shadow: inset 0 0 3px hsl(226deg 25.31% 84.52%), 0 2px 3px hsl(226deg 25.31% 84.52%);
    border-radius: 10px;
    background: hsl(225 30% 98% / 1);
    border: 1px solid hsl(226deg 55.31% 70%);
  }
}


#chat-menu {
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  display: flex;
}

#chat-filter-search {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  display: flex;
}

#chat-message-filters {
  position: relative;

  background-color: #fafafa;

  height: 2.4em;
  border-radius: 10px;
  margin-bottom: 0;
  line-height: 0;
  overflow: visible;

  border: 1px solid var(--border-color-lighter);

  @include flex(left);

  padding: 12px;
}

#filter-chat-tag-section {
  background-color: #fafafa;
  padding: 0;
  border: 0;

  height: auto;
}

#filter-chat-search-section {
  background-color: #fafafa;
  height: 2.4em;
  border-radius: 10px;
  margin-bottom: 0;
  line-height: 0;
  overflow: visible;
}

.chat-tag-filter {
  white-space: nowrap;
  background-color: #fff;
  border: 2px solid #8ca4e0;
  border-radius: 8px;

  @include flex;

  padding: 10px 6px;
  font-size: 12px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}


.chat-message-info-sender
{
  align-items: center;
  display: flex;
}

.chat-tag
{
  white-space: nowrap;
  background-color: #fdfdfd;
  border: 2px solid var(--border-color-hued);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  font-size: 1.2rem;
  display: flex;
  position: static;
  top: 50%;
}

.chat-tag-delete
{
  aspect-ratio: 1 / 1;
  background-color: #fff;
  border-radius: 50%;
  padding: 3px;
  display: none;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

#add-new-topic-button {
  align-items: center;
  margin-right: 4px;
  display: flex;

  position: relative;
  top: 4px;
}

#subtopics-section {
  width: 100%;
  @include flex(left, $gap: 14px);
  padding: 0 12px;
}

.subtopic {
  border: 1px solid var(--border-color-hued);
  white-space: nowrap;
  border-radius: 8px;
  padding: 4px 12px;
}

#chat-input-section {
  @include flex(flex-start, stretch, $direction: column);

  > *:not(:first-child) {
    background: linear-gradient(to bottom, white, #fcfcfc);
  }

  > *:first-child {
    background-color: #fafafa;
  }
}

#chat-input-top {
  z-index: 1;
  height: auto;
  max-height: 120px;
  border-top: 1px solid var(--border-color-lighter);
  background-color: #fff;

  margin: 0;
  padding-left: 11px;
  position: relative;

  @include flex(space-between, stretch, $direction: column);

  filter: drop-shadow(0px -4px 8px hsla(225, 90%, 40%, 0.08));
}

.agent {
  .chat-message-info {
    justify-content: flex-start;
  }

  .chat-message-action-row {
    margin-top: 4px;
  }

  .chat-message-bottom {
    margin-top: 4px;
  }
}

.user  {
  .chat-message-info {
    justify-content: flex-end;
  }
}

.chat-message-bottom {
  grid-area: action-buttons;

  @include flex(space-between, $direction: column);

  margin-top: 8px;

  padding: 0 12px;
}

.chat-message-info {
  width: 100%;
  margin-bottom: 8px;
  padding: 0 24px;
  font-weight: 700;
  @include flex($gap: 2px);



  grid-area: message-sender;
}

.chat-list-item-ai-model-logo, .chat-list-item-ai-model-logo-message {
  @include flex;
}

.chat-list-item-ai-model-logo img {
  width: 2.7rem;
  height: auto;
}

.chat-list-item-ai-model-logo-message img {
    width: 3rem;
    height: auto;
}

.chat-message-buttons-side {
  grid-area: buttons-side;
  gap: 8px;
  flex-flow: column;
  justify-content: center;
  padding-left: 12px;
  display: flex;
}

$chat-bottom-border-width: 2px;

#topics {
  margin-right: 13px;

  height: auto;

  align-items: flex-end;
  padding-left: 0;
  padding-right: 0;

  @include flex(flex-start, flex-end, $gap: 8px)
}

.topic-tab {
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color);
  white-space: nowrap;
  border-radius: 12px 12px 0 0;
  padding: 8px 18px 10px;
  position: relative;
  top: $chat-bottom-border-width;
}

.topic-tab.selected {
  border-width: $chat-bottom-border-width;
  border-color: var(--border-color-hued-subdued);
  border-bottom: none;
  font-weight: 700;

  background-color: white;

  padding-bottom: 12px;

  top: $chat-bottom-border-width;
}

#chat-input-middle {
  height: auto;
  background-color: #fff;
  flex-flow: column;
  flex: none;
  align-items: center;
  display: flex;
  overflow: hidden;

  gap: 12px;
  padding: 12px 0;

  border-top: $chat-bottom-border-width solid var(--border-color-hued-subdued);
}

#chat-input-bottom {
  width: 100%;
  height: auto;
  max-height: none;
  background-color: #fff;
  flex-flow: column;
  flex: none;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;

  gap: 10px;
}

#new-message-tag-list {
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: 0 solid #000;
  border-top-left-radius: 8px;
  padding: 0;
  display: flex;
}

#provider-buttons-container {
  width: 100%;
  height: auto;

  text-align: left;

  padding: 0 10px;
  display: flex;
  overflow: visible;

  @include flex(space-between);
}

.provider-button {
  border: 2px solid var(--border-color-hued);
  color: #2e2020;
  background-color: #fff;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  padding: 6px 14px;
  display: flex;
}

#left-section-bottom {
  height: 40px;
  border-top: 1px solid var(--border-color-lighter-two);
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 24px 14px;
  display: flex;
}

.chat-message {
  border-radius: 13px;
  padding: 14px 24px;

  $shadow: 0 0 8px hsl(225 100% 40% / 0.08);

  &.agent-message {
    background: linear-gradient(to bottom, white, #f8f8f8);
    //border: 2px solid var(--border-color-hued);
    border: 1px solid hsl(225deg 16.3% 46.72% / 54%);
    box-shadow: $shadow;
  }

  &.user-message {
    background: linear-gradient(to bottom, hsl(227 90% 98% / 1), hsl(226deg 90% 98%));
    //border: 2px solid var(--border-color-hued);

    border: 1px solid hsl(225deg 60.42% 52.26% / 56%);
    box-shadow: $shadow;
  }
}

.chat-message-contents {
  white-space: pre-line;

  line-height: 2.5rem;
}


.chat-message-outer-container.user, .chat-message-outer-container.agent {
  flex-flow: column;
  align-items: stretch;
  display: flex;

  &:hover  {
    .chat-message-action-row {
      visibility: visible;
    }
  }
}

.chat-message-action-row {
  width: 100%;
  margin: 0;

  @include flex(space-between);

  visibility: hidden;
}

.chat-message-buttons-bottom {
  padding-top: 0;
  padding-right: 0;

  font-weight: 700;

  @include flex(flex-end, $gap: 12px);
}

#input-container {
  width: 100%;
  padding: 0 12px;

  textarea {
    height: auto;
    min-height: 0;
    border: 1px solid var(--border-color-lighter);
    border-radius: 12px;
    flex: 1;
    width: 100%;

    padding: 12px;
  }
}


.chat-message-inner-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
        "empty0 message-sender empty1"
        "checkbox message buttons-side"
        "empty3 action-buttons empty4";
}

.chat-message-wrapper {
  grid-area: message;
  width: 100%;
}

.chat-message-select-checkbox {
  grid-area: checkbox;
  height: 100%;
  @include flex;
}


#prompt-settings {
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  display: flex;
}

#prompt-settings-checkboxes {
  width: 100%;

  @include flex(space-between);

  overflow: visible;

  padding: 0 4px;
}