@import "../mixins-and-variables";

#right-section {
  width: 20%;
  max-width: 300px;
  border-left: 1px solid var(--border-color);
  pointer-events: auto;
  flex-flow: column;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

#tab-headers-section {
  height: 43px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border-bottom: 1px solid var(--border-color);
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
}

.tab-header {
  align-items: center;
  display: flex;
}

#tab-contents {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  padding: 12px 10px;
  display: flex;
}

.saved-prompt {
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 6px 12px;
}

#add-saved-prompt {
  justify-content: center;
  align-items: center;
  display: flex;
}

