@import "../mixins-and-variables";

#right-section {
  width: 20%;
  max-width: 300px;

  @include flex(flex-start, center, $direction: column);

  > section {
    width: 100%;

    padding-left: 14px;
    padding-right: 14px;
  }
}

#tab-headers-section {
  height: 43px;

  border-bottom: 1px solid var(--border-color-lighter-two);

  @include flex(flex-start, $gap: 16px);
}

.tab-header {
  align-items: center;
  display: flex;
}

#tab-contents {
  padding-top: 1.4rem;
  @include flex($gap: 22px, $direction: column);
}

#saved-prompts-list {
  width: 100%;
}

.saved-prompt {
  border: 2px solid var(--border-color-hued);
  border-radius: 12px;
  padding: 6px 12px;
}

#add-saved-prompt {
  justify-content: center;
  align-items: center;
  display: flex;
}

