:root {
  --border-color: hsl(0 2% 60% / 1);
  --border-color-lighter: hsl(0 2% 60% / 0.6);
  --border-color-lighter-two: hsl(0 2% 60% / 0.3);
  --border-color-hued: hsl(226deg 55.31% 66.52%);
  --border-color-hued-subdued: hsl(226deg 34% 60%);
  --border-color-hued-complementary: hsl(226deg 55.31% 66.52%);
  --soft-shadow-top: drop-shadow(0 -4px 6px hsla(225, 90%, 40%, 0.05));
  --soft-shadow-bottom: drop-shadow(0 4px 6px hsla(225, 90%, 40%, 0.05));
  --soft-shadow-right: drop-shadow(4px 0 6px hsla(225, 90%, 40%, 0.05));
  --soft-shadow-left: drop-shadow(-4px 0 6px hsla(225, 90%, 40%, 0.05));
  --primary-color: hsl(226deg 55.31% 66.52%);
}

.checkbox-field {
  position: relative;
  height: 100%;
  padding-left: 0;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 6px;
  flex-wrap: nowrap;
}

.checkbox-label {
  white-space: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
}

:is(input, textarea) {
  font: inherit;
}
:is(input, textarea):focus-visible {
  outline: none;
}
:is(input, textarea)::placeholder {
  font-style: italic;
}

input:not([type=range]) {
  padding: 12px;
  border: 1px solid var(--border-color-hued-subdued);
  height: 2.4em;
  border-radius: 10px;
  background: hsl(225, 20%, 98%);
}

input[type=checkbox] {
  margin: 0 2px 0 0;
  border-color: var(--border-color-hued) !important;
}

input[type=range] {
  -webkit-appearance: none;
  border: 1px solid white;
  width: 150px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 150px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: hsl(223, 50%, 60%);
  margin-top: -4px;
  filter: drop-shadow(0 0 4px hsla(225, 60%, 20%, 0.12));
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
input[type=range]::-moz-range-track {
  width: 150px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: hsl(223, 50%, 60%);
}
input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}
input[type=range]:focus::-moz-range-track {
  background: #ccc;
}
input[type=range]::-ms-track {
  width: 150px;
  height: 5px;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: hsl(223, 50%, 60%);
}
input[type=range]:focus::-ms-fill-lower {
  background: #888;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}

:root {
  --border-color: hsl(0 2% 60% / 1);
  --border-color-lighter: hsl(0 2% 60% / 0.6);
  --border-color-lighter-two: hsl(0 2% 60% / 0.3);
  --border-color-hued: hsl(226deg 55.31% 66.52%);
  --border-color-hued-subdued: hsl(226deg 34% 60%);
  --border-color-hued-complementary: hsl(226deg 55.31% 66.52%);
  --soft-shadow-top: drop-shadow(0 -4px 6px hsla(225, 90%, 40%, 0.05));
  --soft-shadow-bottom: drop-shadow(0 4px 6px hsla(225, 90%, 40%, 0.05));
  --soft-shadow-right: drop-shadow(4px 0 6px hsla(225, 90%, 40%, 0.05));
  --soft-shadow-left: drop-shadow(-4px 0 6px hsla(225, 90%, 40%, 0.05));
  --primary-color: hsl(226deg 55.31% 66.52%);
}

#left-section {
  width: 24%;
  max-width: 320px;
  flex-flow: column;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  overflow: hidden;
  filter: var(--soft-shadow-right);
}

#conversation-search {
  width: 100%;
  grid-area: searchInput;
}

#chat-list-main {
  height: 100%;
  max-width: none;
  background: linear-gradient(to bottom, hsl(216, 5%, 95%), hsl(216, 2%, 95%));
  flex-flow: column;
  padding: 0;
  display: flex;
}

.chat-list-item-container {
  position: relative;
  user-select: none;
  width: 100%;
  height: auto;
  border-bottom: 1px solid var(--border-color-lighter);
  border-radius: 0;
  padding: 1.25rem 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
  cursor: url("../images/cursors/cursor-pointer.png") 8 0, auto;
  background: linear-gradient(to bottom, white, hsl(0, 0%, 96%));
}
.chat-list-item-container:hover .chat-list-item-menu {
  visibility: visible;
}
.chat-list-item-container.selected {
  box-shadow: 0 0 4px hsla(225, 20%, 60%, 0.4);
  z-index: 2;
}
.chat-list-item-container.selected::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  background-color: hsl(226, 40%, 66%);
  height: 100%;
}

.chat-list-item-menu {
  visibility: hidden;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: var(--border-color-hued-subdued);
  cursor: url("../images/cursors/cursor-pointer.png") 8 0, auto;
}

.chat-list-item-title {
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  padding: 0.55rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
}

#chat-list {
  height: 100%;
  background-color: #fff;
  flex-flow: column;
  display: flex;
}

#chat-list-top {
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, #f7f9fc, #fafafa);
  padding: 10px 14px 18px;
  display: flex;
  justify-content: left;
  align-items: stretch;
  flex-direction: column;
  gap: 23px;
  flex-wrap: nowrap;
  border-bottom: 1px solid var(--border-color-lighter);
}

#chat-list-top-row {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

#add-new-chat-button {
  align-items: center;
  display: flex;
}

#filter-chat-list-row {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "searchInput searchButton" "advanced empty";
  justify-content: center;
  align-items: center;
}
#filter-chat-list-row .search-icon {
  grid-area: searchButton;
}

#filter-chat-list-basic-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
}

#filter-chat-list-advanced-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
  margin-top: 6px;
  padding: 0 8px 0 8px;
  font-size: 1.2rem;
  grid-area: advanced;
}

.chat-list-item-middle-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
}

.chat-list-item-top-row {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.chat-list-item-ai-model-name {
  font-size: 1.2rem;
}

.chat-list-item-information {
  width: 100%;
}

.chat-list-item-date {
  font-size: 1.2rem;
  font-style: italic;
}

.chat-list-item-description {
  white-space: nowrap;
  overflow-wrap: normal;
  font-style: italic;
}

#account-info {
  height: auto;
  display: flex;
}

#account-avatar-left {
  margin-right: 8px;
  width: 8%;
}
#account-avatar-left img {
  border-radius: 50%;
  width: 100%;
}

#account-settings img {
  width: 90%;
  opacity: 0.8;
}

#account-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
  font-weight: 700;
}

.add-new-chat-text {
  white-space: nowrap;
  align-items: center;
  display: flex;
}

:root {
  --border-color: hsl(0 2% 60% / 1);
  --border-color-lighter: hsl(0 2% 60% / 0.6);
  --border-color-lighter-two: hsl(0 2% 60% / 0.3);
  --border-color-hued: hsl(226deg 55.31% 66.52%);
  --border-color-hued-subdued: hsl(226deg 34% 60%);
  --border-color-hued-complementary: hsl(226deg 55.31% 66.52%);
  --soft-shadow-top: drop-shadow(0 -4px 6px hsla(225, 90%, 40%, 0.05));
  --soft-shadow-bottom: drop-shadow(0 4px 6px hsla(225, 90%, 40%, 0.05));
  --soft-shadow-right: drop-shadow(4px 0 6px hsla(225, 90%, 40%, 0.05));
  --soft-shadow-left: drop-shadow(-4px 0 6px hsla(225, 90%, 40%, 0.05));
  --primary-color: hsl(226deg 55.31% 66.52%);
}

#left-section, #right-section {
  position: relative;
  z-index: 1;
  background: linear-gradient(to bottom, white, #fafafa);
}

#middle-section {
  width: auto;
  height: 100%;
  max-width: none;
  border-left: 1px solid var(--border-color-lighter);
  border-right: 1px solid var(--border-color-lighter);
  flex: 1;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 0px;
  flex-wrap: nowrap;
  position: relative;
  z-index: 0;
}

#ai-response-settings-checkboxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: nowrap;
}

#chat-messages-tool-bar {
  border-bottom: 1px solid var(--border-color-lighter);
  padding: 6px 18px;
  background: linear-gradient(to bottom, white, #fafafa);
  filter: var(--soft-shadow-bottom);
}

#chat-message-tool-bar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
}

#chat-message-tool-bar-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
}

#export-import {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  flex-wrap: nowrap;
}
#export-import img {
  width: 12px;
  opacity: 0.65;
}

.chat-message-tag {
  display: flex;
}

#editor-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  flex-wrap: nowrap;
}
#editor-settings img {
  width: 16px;
  opacity: 0.75;
}

#chat-message-search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
}

#add-new-tag-button-input, .add-new-tag-button-message {
  justify-content: center;
  align-items: center;
  margin-right: 0;
  display: flex;
}

#chat-input-top-organization-settings {
  width: 100%;
  display: flex;
}

#chat-input-top-response-settings {
  width: 729.406px;
  gap: 20px;
  display: flex;
  padding-top: 6px;
}

.chat-input-detail-level-slider {
  white-space: nowrap;
  align-items: center;
  padding: 4px 0 4px 6px;
  display: flex;
}

.chat-message-thread-user-outer-container-copy {
  flex-flow: row;
  align-items: stretch;
  margin-left: 24px;
  display: none;
}

.chat-message-thread-info {
  user-select: none;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  margin: 8px 0 4px;
  display: flex;
}

.replies-info {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  gap: 1.2rem;
  flex-wrap: nowrap;
}

.replies-counter {
  font-weight: 600;
}

.last-thread-interaction {
  font-style: italic;
}

.view-thread {
  font-weight: 600;
}

.follow-up-question {
  background-color: #fdfdfd;
  border: 2px solid var(--border-color-hued);
  white-space: nowrap;
  border-radius: 12px;
  padding: 6px 16px;
  box-shadow: 0 0 2px hsla(225, 20%, 60%, 0.2);
}

#topics-section {
  width: 60%;
  display: flex;
}

.prompt-settings-label {
  justify-content: center;
  align-items: center;
  display: flex;
}

#chat-messages-section {
  height: auto;
  border-style: none none solid;
  border-width: 0;
  border-color: var(--border-color);
  background: hsl(216, 3%, 97%);
  flex: 1;
  padding: 14px 12px 0px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 16px;
  flex-wrap: nowrap;
}
#chat-messages-section::-webkit-scrollbar-track {
  border: 1px solid hsl(226, 55.31%, 84.52%);
  box-shadow: inset 0 0 3px hsl(226, 25.31%, 84.52%);
  background-color: hsl(225, 6%, 97%);
  border-radius: 10px;
}
#chat-messages-section::-webkit-scrollbar {
  width: 12px;
  filter: drop-shadow(5px 0px 0px red);
}
#chat-messages-section::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 3px hsl(226, 25.31%, 84.52%), 0 2px 3px hsl(226, 25.31%, 84.52%);
  border-radius: 10px;
  background: hsl(225, 30%, 100%);
  border: 1px solid hsl(226, 35.31%, 76%);
}

#follow-up-questions-section {
  padding: 0.2rem 1.4rem 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  gap: 1.4rem;
  flex-wrap: wrap;
  background: hsl(216, 3%, 97%);
}

#chat-menu {
  gap: 28px;
  display: flex;
}

#chat-filter-search {
  gap: 12px;
  display: flex;
}

#chat-message-filters {
  position: relative;
  background-color: #fafafa;
  height: 2.4em;
  border-radius: 10px;
  margin-bottom: 0;
  line-height: 0;
  overflow: visible;
  border: 1px solid var(--border-color-hued-subdued);
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
  padding: 12px;
}

#filter-chat-tag-section {
  padding: 0;
  border: 0;
  height: auto;
}

#filter-chat-search-section {
  height: 2.4em;
  border-radius: 10px;
  margin-bottom: 0;
  line-height: 0;
  overflow: visible;
}

.chat-tag-filter {
  white-space: nowrap;
  background-color: #fff;
  border: 2px solid #8ca4e0;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
  padding: 10px 6px;
  font-size: 12px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.message-avatar {
  filter: drop-shadow(0 1px 2px hsla(225, 90%, 40%, 0.15));
}

.account-avatar-message {
  width: 22px;
  height: auto;
}

.chat-message-info-sender {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
}

#chat-response-detail {
  padding: 0 14px;
}

.chat-tag {
  white-space: nowrap;
  background-color: #fdfdfd;
  border: 2px solid var(--border-color-hued);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  font-size: 1.2rem;
  display: flex;
  position: relative;
  box-shadow: 0 0 4px hsla(225, 20%, 60%, 0.2);
}
.chat-tag:hover .chat-tag-delete {
  visibility: visible;
}

.chat-tag-delete {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
  background-color: #fff;
  border-radius: 50%;
  visibility: hidden;
  position: absolute;
  top: calc(0% + 4px);
  bottom: auto;
  left: auto;
  right: calc(0% + 2px);
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid var(--border-color-hued);
  transform: translate(50%, -50%);
  filter: var(--soft-shadow-bottom);
}

#add-new-topic-button {
  align-items: center;
  margin-right: 4px;
  display: flex;
  position: relative;
  top: 2px;
}

#subtopics-section {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  gap: 1.4rem;
  flex-wrap: nowrap;
  padding: 0 1.4rem;
}

.subtopic {
  border: 1px solid var(--border-color-hued);
  white-space: nowrap;
  border-radius: 8px;
  padding: 4px 12px;
  box-shadow: 0 0 4px hsla(225, 20%, 60%, 0.2);
}

#chat-input-section {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 0px;
  flex-wrap: nowrap;
}

#chat-input-top {
  z-index: 1;
  height: auto;
  max-height: 120px;
  border-top: 1px solid var(--border-color-lighter);
  background-color: #fff;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  gap: 0px;
  flex-wrap: nowrap;
  filter: var(--soft-shadow-top);
}
#chat-input-top > div:not(.button) {
  padding-left: 12px;
}

#chat-input-top-collapse-button {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 2;
  border: 1px solid var(--border-color-hued);
  user-select: none;
  border-radius: 16px;
  width: 80px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
  background: linear-gradient(to bottom, white, #fafafa);
  box-shadow: 0 0 2px hsla(225, 20%, 60%, 0.4);
}
#chat-input-top-collapse-button span {
  font-size: 1.3rem;
  transform: scaleY(0.65);
  color: #555;
  position: relative;
  top: 1px;
}

#input-field {
  background: hsl(225, 20%, 98%);
  height: auto;
  min-height: 0;
  border: 1px solid var(--border-color-lighter);
  border-radius: 12px;
  flex: 1;
  width: 100%;
  padding: 12px;
  filter: drop-shadow(0 0 6px hsla(225, 20%, 60%, 0.1));
}

.agent .chat-message-info {
  justify-content: flex-start;
}
.agent .chat-message-action-row {
  margin-top: 4px;
}
.agent .chat-message-bottom {
  margin-top: 4px;
}

.user .chat-message-info {
  justify-content: flex-end;
}

.chat-message-bottom {
  grid-area: action-buttons;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  flex-wrap: nowrap;
  margin-top: 8px;
  padding: 0 12px;
}

.chat-message-info {
  user-select: none;
  width: 100%;
  margin-bottom: 8px;
  padding: 0 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5em;
  flex-wrap: nowrap;
  grid-area: message-sender;
  height: 2em;
}

.chat-list-item-ai-model-logo, .chat-list-item-ai-model-logo-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
}

.chat-list-item-ai-model-logo img {
  width: 1.8rem;
  height: auto;
}

:is(.chat-list-item-ai-model-logo-message, .account-avatar-message) img {
  width: 2rem;
  height: auto;
}

.chat-message-buttons-side {
  grid-area: buttons-side;
  padding-left: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  flex-wrap: nowrap;
  opacity: 0.82;
}

.chat-message-buttons-bottom {
  padding-top: 0;
  padding-right: 0;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 18px;
  flex-wrap: nowrap;
  opacity: 0.82;
}

#topics {
  margin-right: 13px;
  height: auto;
  align-items: flex-end;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  gap: 8px;
  flex-wrap: nowrap;
}

.topic-tab {
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color);
  white-space: nowrap;
  border-radius: 12px 12px 0 0;
  padding: 8px 18px 10px;
  position: relative;
  top: 2px;
}

.topic-tab.selected {
  border-width: 2px;
  border-color: var(--border-color-hued-subdued);
  border-bottom: none;
  font-weight: 700;
  background-color: white;
  padding-bottom: 12px;
  top: 2px;
}

#chat-input-middle {
  height: auto;
  background-color: #fff;
  flex-flow: column;
  flex: none;
  align-items: center;
  display: flex;
  overflow: hidden;
  gap: 12px;
  padding: 12px 0;
  border-top: 2px solid var(--border-color-hued-subdued);
}

#chat-input-bottom {
  width: 100%;
  height: auto;
  max-height: none;
  background-color: #fff;
  flex-flow: column;
  flex: none;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  gap: 10px;
}

#new-message-tag-list {
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: 0 solid #000;
  border-top-left-radius: 8px;
  padding: 0;
  display: flex;
}

.chat-message-tag-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  flex-wrap: nowrap;
}

#provider-buttons-container {
  width: 100%;
  height: auto;
  text-align: left;
  padding: 0 1.4rem;
  display: flex;
  overflow: visible;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
}

.provider-button.provider-button {
  border: 2px solid var(--border-color-hued);
  color: #2e2020;
  background-color: #fff;
  border-radius: 12px;
  padding: 6px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  flex-wrap: nowrap;
  box-shadow: 0 0 2px hsla(225, 20%, 60%, 0.2);
}

.provider-icon {
  width: 16px;
}

#left-section-bottom {
  height: 40px;
  border-top: 1px solid var(--border-color-hued-subdued);
  justify-content: space-between;
  align-items: center;
  padding: 24px 14px;
  display: flex;
  filter: var(--soft-shadow-top);
  background: linear-gradient(to bottom, white, #fafafa);
}

.chat-message {
  border-radius: 13px;
  padding: 14px 24px;
  position: relative;
  z-index: 1;
}
.chat-message.agent-message {
  background: linear-gradient(to bottom, white, #f8f8f8);
  box-shadow: 0 0 0 1px hsla(225, 16.3%, 46.72%, 0.6), 0 0 0 2px hsla(225, 16.3%, 46.72%, 0.1), 0 0 8px hsla(225, 100%, 40%, 0.08);
}
.chat-message.user-message {
  background: linear-gradient(to bottom, hsl(227, 90%, 98%), hsl(226, 90%, 98%));
  box-shadow: 0 0 0 1px hsla(225, 60.42%, 52.26%, 0.6), 0 0 0 2px hsla(0, 2%, 60%, 0.24), 0 0 8px hsla(225, 100%, 40%, 0.08);
}

.chat-message-contents {
  white-space: pre-line;
  line-height: 2.5rem;
}

.chat-message-outer-container.user, .chat-message-outer-container.agent {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 0px;
  flex-wrap: nowrap;
}
.chat-message-outer-container.user:hover .chat-message-action-row, .chat-message-outer-container.agent:hover .chat-message-action-row {
  visibility: visible;
}

.chat-message-action-row {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
  visibility: hidden;
}

.message-save-to-favorites {
  width: 13px;
  height: auto;
  opacity: 0.75;
}

.copy-message-button {
  width: 10.5px;
  height: auto;
  opacity: 0.65;
}

.save-prompt-button {
  width: 12px;
  height: auto;
  opacity: 0.65;
}

.message-scroll-to-bottom-button, .message-scroll-to-top-button {
  width: 8.5px;
  height: auto;
  opacity: 0.75;
}

.message-scroll-to-bottom-button {
  transform: scaleY(-1);
}

.message-thumbs-down-button {
  width: 12px;
  height: auto;
  opacity: 0.67;
}

.message-regenerate-button {
  width: 12px;
  height: auto;
  opacity: 0.65;
}

#input-container {
  width: 100%;
  padding: 0 1.4rem;
}

.chat-message-inner-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas: "empty0 message-sender empty1" "checkbox message buttons-side" "empty3 action-buttons empty4";
  align-items: flex-start;
}

.user .chat-message-wrapper::before {
  background-color: hsla(225, 30%, 60%, 0.03);
  box-shadow: 0 0 26px hsla(225, 30%, 60%, 0.06);
}

.agent .chat-message-wrapper::before {
  background-color: hsla(225, 30%, 60%, 0.05);
  box-shadow: 0 0 26px hsla(225, 30%, 60%, 0.1);
}

.chat-message-wrapper {
  position: relative;
  grid-area: message;
  width: 100%;
}
.chat-message-wrapper:before {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: calc(0% - 11px);
  border-radius: 30px;
  z-index: 0;
}

.chat-message-select-checkbox {
  grid-area: checkbox;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
}

#prompt-settings {
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.4rem;
  display: flex;
}

#prompt-settings-checkboxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
  overflow: visible;
  padding: 0 4px;
}

:root {
  --border-color: hsl(0 2% 60% / 1);
  --border-color-lighter: hsl(0 2% 60% / 0.6);
  --border-color-lighter-two: hsl(0 2% 60% / 0.3);
  --border-color-hued: hsl(226deg 55.31% 66.52%);
  --border-color-hued-subdued: hsl(226deg 34% 60%);
  --border-color-hued-complementary: hsl(226deg 55.31% 66.52%);
  --soft-shadow-top: drop-shadow(0 -4px 6px hsla(225, 90%, 40%, 0.05));
  --soft-shadow-bottom: drop-shadow(0 4px 6px hsla(225, 90%, 40%, 0.05));
  --soft-shadow-right: drop-shadow(4px 0 6px hsla(225, 90%, 40%, 0.05));
  --soft-shadow-left: drop-shadow(-4px 0 6px hsla(225, 90%, 40%, 0.05));
  --primary-color: hsl(226deg 55.31% 66.52%);
}

#right-section {
  width: 30%;
  max-width: 460px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  flex-wrap: nowrap;
}
#right-section > section {
  width: 100%;
}

#tab-headers-section {
  height: 43px;
  border-bottom: 1px solid var(--border-color-lighter-two);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
  background: linear-gradient(to bottom, white 75%, #fafafa);
}

.tab-header {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  flex-wrap: nowrap;
  padding: 0 18px;
  border-right: 1px solid var(--border-color-lighter-two);
}

#saved-prompt-tab-icon {
  width: 14px;
  opacity: 0.6;
}

#settings-tab-icon {
  width: 15.5px;
  opacity: 0.8;
}

#tab-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  flex-wrap: nowrap;
  height: 100%;
}

#saved-prompts-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
  padding: 18px;
  background: linear-gradient(to bottom, white, #fafafa);
  border-bottom: 1px solid var(--border-color-lighter-two);
}

#saved-prompts-list-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  flex-wrap: nowrap;
}

#saved-prompts-list-settings-icon {
  width: 16px;
}

#saved-prompts-display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 22px;
  flex-wrap: nowrap;
}

#saved-prompts-display-grid, #saved-prompts-display-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  flex-wrap: nowrap;
}

#saved-prompts-display-grid-icon {
  width: 14px;
  opacity: 0.7;
}

#saved-prompts-display-list-icon {
  width: 15px;
  opacity: 0.7;
}

.saved-prompt-topic-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
  width: 100%;
  border-bottom: 1px solid var(--border-color-lighter-two);
}

.saved-prompt-topic {
  position: relative;
  padding: 12px 24px;
  border-right: 1px solid var(--border-color-lighter-two);
  background-color: #f5f5f5;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
  text-align: center;
}
.saved-prompt-topic.selected {
  background: linear-gradient(to bottom, white, #fafafa);
}
.saved-prompt-topic.selected::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--border-color-hued);
}

#saved-prompts-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 24px;
  flex-wrap: nowrap;
  background: hsl(216, 3%, 97%);
}
#saved-prompts-list > *:not(:first-child) {
  padding: 0 18px;
}

.saved-prompt-category-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 16px;
  flex-wrap: nowrap;
}

.saved-prompt-category {
  text-align: center;
  color: #444;
  margin: 0;
}

.saved-prompt {
  border: 1px solid var(--border-color-hued);
  border-radius: 12px;
  padding: 8px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
  background: linear-gradient(to bottom, white, #fafafa);
  box-shadow: 0 0 4px hsla(225, 20%, 60%, 0.2);
}
.saved-prompt:hover .saved-prompt-buttons {
  visibility: visible;
}

.saved-prompt-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  flex-wrap: nowrap;
}

.saved-prompt-icon {
  width: 16px;
}

.saved-prompt-buttons {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  flex-wrap: nowrap;
}

.saved-prompt-delete-icon {
  font-size: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
  color: #494949;
  line-height: 0;
}

.saved-prompt-settings-icon {
  width: 12px;
  opacity: 0.85;
}

#add-saved-prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
}

:root {
  --border-color: hsl(0 2% 60% / 1);
  --border-color-lighter: hsl(0 2% 60% / 0.6);
  --border-color-lighter-two: hsl(0 2% 60% / 0.3);
  --border-color-hued: hsl(226deg 55.31% 66.52%);
  --border-color-hued-subdued: hsl(226deg 34% 60%);
  --border-color-hued-complementary: hsl(226deg 55.31% 66.52%);
  --soft-shadow-top: drop-shadow(0 -4px 6px hsla(225, 90%, 40%, 0.05));
  --soft-shadow-bottom: drop-shadow(0 4px 6px hsla(225, 90%, 40%, 0.05));
  --soft-shadow-right: drop-shadow(4px 0 6px hsla(225, 90%, 40%, 0.05));
  --soft-shadow-left: drop-shadow(-4px 0 6px hsla(225, 90%, 40%, 0.05));
  --primary-color: hsl(226deg 55.31% 66.52%);
}

html {
  height: 100%;
  ms-text-size-adjust: 100%;
  webkit-text-size-adjust: 100%;
  font-family: sans-serif;
  font-size: 62.5%;
  cursor: url("../images/cursors/cursor.png"), auto;
}

body {
  margin: 0;
  height: 100vh;
  flex-flow: column;
  display: flex;
  overflow: hidden;
  font-size: 1.4rem;
  min-height: 100%;
  color: #333;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

#main {
  width: 100vw;
  height: 100vh;
  max-width: none;
  min-width: 0;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

#tags-section {
  width: 40%;
  height: 100%;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: var(--border-color-lighter);
  background-color: #f5f5f5;
  border-top-left-radius: 8px;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  flex-wrap: nowrap;
}

* {
  box-sizing: border-box;
}

.add-new-circle {
  width: 2.2rem;
  height: 2.2rem;
  border: 2px solid var(--border-color-hued);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  padding: 0;
  display: flex;
  background: linear-gradient(to bottom, white, #fafafa);
  box-shadow: 0 0 4px hsla(225, 20%, 60%, 0.2);
}

.agent-logo-message {
  width: 2em;
  height: 2em;
  border-radius: 8px;
}

/*.add-new {
    font-weight: 600;
}*/
.button {
  user-select: none;
}

.search-icon {
  margin-left: 10px;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

a {
  text-decoration: none;
}

a, button, .button {
  cursor: url("../images/cursors/cursor-pointer.png") 8 0, auto;
}

img {
  border: 0;
}

main, menu, nav, section {
  display: block;
}

.custom-tooltip {
  position: absolute;
  background-color: hsl(150, 30%, 96%);
  color: #333;
  text-align: center;
  padding: 8px 18px;
  border-radius: 22px;
  z-index: 1000;
  top: -28px;
  border: 2px solid #3E6638;
  left: 50%;
  text-wrap: wrap;
  transform: translateX(-50%);
  font-weight: 300;
  line-height: normal;
  cursor: url("../images/cursors/cursor.png"), auto;
  max-width: 400px;
  filter: drop-shadow(0 0 14px hsla(226, 20%, 20%, 0.14));
}
.custom-tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-width: 7px;
  border-style: solid;
}
.custom-tooltip.custom-tooltip:not(.upside-down)::before {
  border-color: #E6C50B transparent transparent transparent;
  border-bottom: none;
  bottom: -9px;
}

/*# sourceMappingURL=styles.css.map */
