@import "form-elements";
@import "main/left-section";
@import "main/middle-section";
@import "main/right-section";
@import "mixins-and-variables";

html
{
    height: 100%;

    ms-text-size-adjust: 100%;
    webkit-text-size-adjust: 100%;
    font-size: 62.5%;

    @include cursor;

    * {
        font-family: "Source Sans 3", sans-serif;
    }
}

body
{
    margin: 0;
    height: 100vh;
    flex-flow: column;
    display: flex;
    overflow: hidden;
    font-size: 1.5rem;

    min-height: 100%;
    color: #333;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

#main
{
    width: 100vw;
    height: 100vh;
    max-width: none;
    min-width: 0;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #fff;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    display: grid;

    grid-template-areas:
            "left-section middle-section-top right-section"
            "left-section middle-section-middle right-section"
            "left-section middle-section-bottom right-section";

    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
}

*
{
    box-sizing: border-box;
}

.add-new-circle-border {
    width: 2.2rem;
    height: 2.2rem;
    min-width: 2.2rem;
    min-height: 2.2rem;

    padding: 2px;

    background: linear-gradient(135deg, hsl(200 50% 66% / 1), hsl(250 50% 66% / 1));

    border-radius: 50%;

    margin-right: 6px;
}

.add-new-circle
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 0;
    display: flex;

    background: linear-gradient(to bottom, white, hsl(225 30% 96% / 1));

    box-shadow: 0 0 4px hsla(225, 20%, 60%, 0.2);

    svg {
        fill: hsl(225 20% 48% / 1);
        width: 8px;
    }
}

.add-new {
    @include flex;
    font-weight: 500;
}

.button
{
    user-select: none;
}

.search-icon
{
    cursor: pointer;

    width: 18px;
    height: 18px;
}

a
{
    text-decoration: none;
}

a, button, .button
{
    @include pointer;
}

img
{
    border: 0;
}

main, menu, nav, section
{
    display: block;
}

.collapse-button {
    position: absolute;
    z-index: 2;

    border: 1px solid var(--border-color-lighter);

    user-select: none;

    border-radius: 16px;

    width: 80px;
    height: 10px;

    @include flex;

    background: linear-gradient(to bottom, white, #fafafa);

    box-shadow: 0 0 2px hsla(225, 20%, 60%, 0.4);

    span {
        font-size: 1.1rem;
        transform: scaleY(0.65);

        color: #555;

        position: relative;
        top: 0px;
    }
}

.custom-tooltip {
    position: absolute;
    background-color: hsl(150 30% 96% / 1); //hsl(226deg 100% 98.44%);
    color: #555;
    text-align: center;
    padding: 8px 18px;
    border-radius: 22px;
    z-index: 1000;
    top: -28px;
    border: 2px solid #3E6638; //var(--border-color-hued-subdued);
    left: 50%;
    text-wrap: wrap;
    transform: translateX(-50%);
    font-weight: 400;
    font-style: italic;
    line-height: normal;
    @include cursor;

    max-width: 400px;

    filter: drop-shadow(0 0 14px hsl(226 20% 20% / 0.14));

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-width: 7px;
        border-style: solid;
    }

    &.custom-tooltip:not(.upside-down)::before {
        border-color: #E6C50B transparent transparent transparent;
        border-bottom: none;
        bottom: -9px;
    }
}

/*
#chat-page-and-thread-tabs-section {
    &::-webkit-scrollbar-track
    {
        border: 1px solid hsl(226deg 55.31% 84.52%);
        box-shadow: inset 0 0 3px hsl(226deg 25.31% 84.52% / 0.3);
        background-color: hsl(225 16% 92% / 1) !important;
        border-radius: 10px;
    }

    &::-webkit-scrollbar
    {
        width: 12px;
        height: 20px !important;
    }

    &::-webkit-scrollbar-thumb
    {
        box-shadow: inset 0 0 3px hsl(226deg 25.31% 84.52% / 0.6), 0 2px 3px hsl(226deg 25.31% 84.52%);
        border-radius: 8px;
        background: hsl(225 10% 100% / 1);
        border: 1px solid hsl(226deg 35.31% 76%);
    }
}*/



/* Hide the scrollbar for modern browsers */
.custom-scroller::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

/* Hide the scrollbar for IE, Edge, and Firefox */
.custom-scroller {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.ScrollbarsCustom-Content {
    //overflow: hidden; /* Ensure native scrollbars are hidden */
}

.ScrollbarsCustom-Thumb.ScrollbarsCustom-ThumbX {
}

.custom-scroller {
    overflow: hidden scroll; /* Ensure custom scrollbar is visible */
    width: 100%;
    height: 100%;
    position: relative;
}

/* Outermost container style */
.ScrollbarsCustom {
    position: relative;
    inset: 0px 10px 0px 0px;
    width: 100%;
    height: 100%;
    margin-right: 1px;

    overflow: visible;
}

/* Wrapper style */
.ScrollbarsCustom-Wrapper {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;

}

.ScrollbarsCustom-Track {
    overflow: visible;
}

$y-track-width: 12px;
$y-thumb-width: $y-track-width + 4px;

/* Track Y style */
.ScrollbarsCustom-TrackY {
    position: absolute;
    border-radius: 2px;
    user-select: none;
    width: $y-track-width;
    height: calc(100% - 3px);
    top: 0px;
    right: 0px;
    border: 1px solid hsl(226deg 55.31% 84.52% / 1);
    box-shadow: inset 0 0 3px hsl(226deg 25.31% 84.52% / 0.3);
    background-color: hsl(225 4% 92% / 1);
}

/* Thumb Y style */
.ScrollbarsCustom-ThumbY {
    display: block;
    width: $y-thumb-width;
    position: absolute;
    left: -2px;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 3px hsl(226deg 25.31% 84.52% / 0.2), 0 3px 3px hsl(226deg 25.31% 84.52% / 0.15);
    border-radius: 12px;
    background: white;
    border: 1px solid hsl(226deg 35.31% 76% / 1);
}

/* Track X style */
.ScrollbarsCustom-TrackX {
    display: block;
    position: absolute;
    border-radius: 12px;
    user-select: none;
    height: 14px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    border: 1px solid hsl(226deg 55.31% 84.52% / 1);
    box-shadow: inset 0 0 3px hsl(226deg 25.31% 84.52% / 0.3);
    background-color: hsl(225 30% 97% / 1);

    margin-bottom: -8px;
}

/* Thumb X style */
.ScrollbarsCustom-ThumbX {
    height: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    transform: translateX(0px);
    box-shadow: inset 0 0 3px hsl(226deg 25.31% 84.52% / 0.2), 0 3px 3px hsl(226deg 25.31% 84.52% / 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    border: 1px solid hsl(226deg 35.31% 76% / 1);
}

/* Thumb wrapper style */
.scrollbars-custom-thumb-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

/* Scroller style */
.custom-scroller {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    margin-right: 0px;
    overflow: scroll;
    margin-bottom: -17px;
}

/* Content style */
.ScrollbarsCustom-Content {
    box-sizing: border-box;
    padding: 0.05px;
    min-height: 100%;
    min-width: 100%;
}
